// Custom extra large button size
.btn{
  outline: 0; font-family: "Apple SD Gothic Neo"; box-shadow: none !important;
  &.focus, &:focus{box-shadow: none;}
}
.btn-link{
  &.hover, &:hover, &.focus, &:focus, &:active {text-decoration: none;}
}
.btn-lg {padding: rem(17.3px) 0; width:rem(311px); font-size: rem(18px); border-radius: rem(40px);}

.btn-primary{
  &.focus, &:focus, &:active, &:hover{color:#fff; background: $primary;}
}
.btn-dark{border:0;}
.btn-light{
  color:#fff;
  &.focus, &:focus, &:active, &:hover{color:#fff; background: $light;}
}
.btn-outline-light{ // c0c0c0
  color:#262626; border-color: #979797; background: $white;
  &.focus, &:focus, &:active, &:hover{color:$white !important; background: $primary !important;}
}
.btn-cancel{color:#fff;background: #3eb7c8;}

// Custom social buttons
.btn-naver{color: #fff;background-color: #19ce60;border-color: #19ce60;}
.btn-kakao{color: #fff;background-color: #ffd800;border-color: #ffd800;}
.btn-google{color: #fff;background-color: #e0574e;border-color: #e0574e;}
.btn-facebook{color: #fff;background-color: #4468af;border-color: #4468af;}

@include media-breakpoint-up(md) {
  .btn-xl{font-size: 0.875rem;}
}
