.logo-img{
  display: block; width: rem(180px); height:rem(30px);
  background: url(../images/hanpass-logo-181x30-fff-3x.png) no-repeat top center; background-size: 100% auto;
  text-indent: -99999999px;
}
.conts-wrap{
  position: relative; width:100%; min-height: calc(100vh - #{$nav-height} - #{$footer-height});
  .conts-lnb{
    margin: 1.875rem 0 0 0; width: 28.13rem;
    .btn{
      display:flex;height:80px;color:#888888; border-color: #dbdbdb; background-color: #fff; font-size: 1.25rem; font-weight: 700; font-family: $sub-font-family;
      @include center-middle;
      &.active{color:#00457c; border-color: #004e8c; z-index: 2;}
      &.btn-lx{padding: 1.5rem 1rem;}
    }
    & + .tbl-type1{margin-top:30px;}
  }
  .conts-title{display: inline-flex; margin:40px 0 0; padding-bottom:10px; font-size: 22px; color:#222; font-weight: bold; border-bottom:3px solid #004e8c;}
  .btn-bottom{
    .btn-xl{width: 192px; height: 74px; border-radius: $border-radius !important; font-weight: bold;}
    // .btn-lg{width:192px;}
    .btn + .btn{margin-left:7px;}
  }
}  

/*
@include media-breakpoint-up(md) {
  .conts-wrap{
    margin:0 auto; width:640px; min-height: calc(100vh - #{$nav-height-md} - #{$footer-height-md});
    .conts-lnb{
      width:27.31rem;
      .btn{
        font-size: 0.875rem; height: 3.25rem; border-radius: 0.1875rem;
        &.btn-lx{padding:0.625rem;}
      }
    }
    .btn-bottom{
      .btn-xl{width:160px; height: 54px;}
    } 
  }
}
*/
