// dashboard styling
@charset "utf-8";

.dash-board {
  margin: rem(128px) auto rem(168px) auto;
  &__title {
    display: block;
    margin-bottom: rem(16px);
    font-size: rem(24px);
    font-weight: 800;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto,
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl,
  .col-xxl-auto {
    padding-right: rem(6px);
    padding-left: rem(6px);
  }
  .col-xl-4 {
    // flex: 0 0 31.746%;
    // max-width: 31.746%;
  }
  .row {
    margin-right: rem(-6px);
    margin-left: rem(-6px);
  }
  .overflow-x-auto {
    flex: 1;
    max-width: 100%;
    padding-bottom: rem(16px);
    justify-content: space-between;
    .box {
      width: 100%;
      margin: 0 rem(6px);
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      .item {
        padding: rem(48px) rem(40px) rem(32px) rem(40px);
        border-radius: rem(10px);
        background-color: #ffffff;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: rem(70px);
          margin-top: rem(8px);
        }
      }
      strong {
        font-size: rem(16px);
        color: #353535;
      }
      span {
        font-family: "AvenirNext";
        font-size: rem(36px);
        font-weight: 700;
        line-height: rem(48px);
        text-align: right;
        &.unit {
          font-family: "Lato";
          margin-left: rem(20px);
          font-size: rem(26px);
          text-align: left;
        }
      }
    }
  }
  .box {
    margin-top: rem(20px);
    border-radius: rem(10px);
    background-color: #ffffff;
    &:first-child {
      margin-top: 0;
    }
    &__header {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: rem(40px) rem(24px) rem(24px) rem(24px);
      .nav-pills {
        flex: none;
        margin-left: auto;
      }
    }
    &__body {
      padding: 0 rem(24px) rem(40px) rem(24px);
    }
    &__title {
      font-size: rem(21px);
      font-weight: 800;
      &__wrap {
        padding: rem(40px) rem(24px) rem(24px) rem(24px);
      }
    }
    &__unit {
      margin-left: rem(20px);
      font-size: rem(14px);
    }
    &__more {
      flex: none;
      margin-left: auto;
      padding: rem(10px) rem(32px) rem(8px) rem(16px);
      border: 1px solid #e8e6e8;
      border-radius: rem(8px);
      font-size: rem(12px);
      color: #353535;
      background-position: calc(100% - 12px) 50%;
      background-size: rem(4px);
      background-image: url(../images/renewal/btn-arrow-more@3x.png);
      background-repeat: no-repeat;
    }
    &__desc {
      flex: 1 0 100%;
      margin-top: rem(16px);
      font-size: rem(14px);
      color: #353535;
    }
    &.blue {
      background-image: radial-gradient(
        circle at 18% 10%,
        #1e93f4,
        #0d5ae5 48%
      );
      strong,
      span {
        color: #ffffff;
      }
      .item {
        background-color: transparent;
      }
    }
    &.small-content {
      span {
        font-size: rem(30px);
        letter-spacing: rem(-0.8px);
      }
    }
  }
  .main-notice {
    &__content {
      &__title {
        font-size: rem(14px);
      }
      &__date {
        font-size: rem(13px);
      }
    }
    &__item {
      border-top: 1px solid rgba(86, 86, 86, 0.2);
      border-bottom: unset;
    }
  }
  .nav-pills {
    .nav-item {
      margin-left: -1px;
      .nav-link {
        color: #353535;
      }
    }
    .nav-item:first-child {
      margin-left: 0;
      .nav-link {
        border-radius: rem(8px) 0 0 rem(8px);
      }
    }
    .nav-item:last-child {
      .nav-link {
        border-radius: 0 rem(8px) rem(8px) 0;
      }
    }
    .nav-link {
      border: 1px solid #e8e6e8;
      &.active {
        font-weight: 800;
        color: #353535;
        background-color: transparent;
      }
    }
    .show {
      > .nav-link {
        font-weight: 800;
        color: #353535;
        background-color: transparent;
      }
    }
  }
  // 부트스트랩
  .btn {
    height: rem(60px);
    border-radius: rem(40px);
    font-size: rem(18px);
    background-color: #146fd3;
  }
  .form-control {
    padding: rem(8px) 0;
    border-width: 0 0 rem(2px) 0;
    border-style: solid;
    border-color: #146fd3;
    border-radius: 0;
    font-size: rem(24px);
    text-align: right;
    color: #363636;
    &::placeholder {
      color: #c7c7c7;
    }
  }
}

.overflow-x-auto {
  overflow: auto hidden;
}

.remit {
  &__content {
  }
  &__country {
    display: flex;
    align-items: center;
    span {
      display: block;
      font-size: rem(13px);
      color: #353535;
    }
    &__title {
      flex: none;
      position: relative;
      padding-left: rem(48px);
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(40px);
        height: rem(40px);
        margin: 0 rem(8px) 0 0;
        border-radius: 100%;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #bebebe;
        transform: translateY(-50%);
        content: "";
      }
      &.krw {
        &::before {
          background-image: url(../images/renewal/flag-korea@3x.png);
          background-color: transparent;
        }
      }
      &.aud {
        &::before {
          background-image: url(../images/renewal/flag-22-aud@3x.png);
          background-color: transparent;
        }
      }
    }
    &__content {
      flex: 1;
      margin-left: rem(30px);
      span {
        font-family: "Lato";
        font-size: rem(24px);
        font-weight: 900;
        text-align: right;
        color: #146fd3;
      }
    }
    .krw {
      &::before {
      }
    }
    .aud {
      &::before {
      }
    }
    .unit {
      margin-top: rem(4px);
      font-size: rem(18px);
      font-weight: 900;
    }
  }
  &__charges {
    position: relative;
    overflow: hidden;
    margin: rem(16px) 0 rem(16px) 0;
    &::before {
      position: absolute;
      top: 50%;
      left: rem(18px);
      border-left: 2px dotted #d4d4d4;
      width: 2px;
      height: rem(1000px);
      transform: translateY(-50%);
      content: "";
    }
    &::after {
      position: absolute;
      top: 50%;
      left: rem(4px);
      width: rem(32px);
      height: rem(32px);
      background-position: 50% 50%;
      background-size: 100%;
      background-image: url(../images/renewal/ico-send-money@3x.png);
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: "";
    }
    &__content {
      max-width: calc(100% - 50px);
      margin: rem(12px) 0 0 auto;
      &__item {
        text-align: right;
        color: #353535;
        strong {
          font-size: rem(12px);
          line-height: rem(32px);
          span {
            font-size: rem(10px);
          }
        }
        div {
          display: inline-block;
          margin-left: rem(4px);
        }
        span {
          font-size: rem(14px);
          line-height: rem(32px);
        }
        .unit {
        }
      }
    }
  }
  &__total {
    display: flex;
    align-items: center;
    margin: rem(24px) 0 rem(32px) 0;
    padding: rem(20px) rem(8px) rem(20px) rem(16px);
    border-radius: rem(4px);
    background-color: #eff6ff;
    &__title {
      font-weight: 800;
      font-size: rem(20px);
      font-weight: 800;
      color: #353535;
    }
    &__content {
      flex: none;
      position: relative;
      margin-left: auto;
      font-family: "Lato";
      font-size: 0;
      color: #2c2c2c;
      &::after {
        display: block;
        width: calc(100% + 8px);
        height: rem(8px);
        margin-top: rem(-8px);
        margin-left: rem(-4px);
        background-color: rgba(105, 238, 214, 0.6);
        content: "";
      }
      span {
        font-family: "Lato";
        font-size: rem(26px);
        font-weight: 900;
      }
      .unit {
        font-size: rem(24px);
        font-weight: 700;
      }
    }
  }
  label {
    display: block;
    font-size: rem(14px);
    text-align: right;
    color: #353535;
  }
}

// 총 송금액 (년월별)
.remit-comparison {
}

// 달력
.remit-schedule {
  padding-top: rem(40px);
  .box__body {
    padding-bottom: rem(20px);
  }
  &__list {
    margin-top: rem(24px);
  }
  &__item {
    padding: rem(16px) rem(8px) rem(12px) rem(8px);
    border-top: 1px solid #e8e6e8;
    .row {
      display: flex;
      flex-flow: row nowrap;
      margin-top: rem(8px);
      &:first-child {
        margin-top: 0;
      }
    }
    &__title {
      flex: none;
      width: rem(60px);
      margin-right: rem(20px);
      font-size: rem(13px);
      color: #353535;
    }
    &__content {
      flex: 1;
      font-size: rem(14px);
      color: #353535;
    }
  }
}
.calendar {
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(24px);
  }
  &__title {
    font-size: rem(21px);
    text-align: center;
  }
  &__prev,
  &__next {
    width: rem(6px);
    height: rem(10px);
    border: 0 none;
    font-size: 0;
  }
  &__prev {
    margin-right: rem(24px);
  }
  &__next {
    margin-left: rem(24px);
  }
  &__body {
    width: inherit;
  }
  &__week {
    font-size: rem(14px);
    td {
      position: relative;
      text-align: center;
    }
    .checked,
    .active {
      width: rem(22px);
      height: rem(22px);
      border-radius: 100%;
      line-height: rem(22px);
      color: #ffffff;
      background-color: #146fd3;
    }
    // .active {
    //   box-sizing: content-box;
    //   border: 8px solid #d8eafe;
    //   background-color: transparent;
    // }
    .active::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(22px);
      height: rem(22px);
      border-radius: 100%;
      box-sizing: content-box;
      border: rem(4px) solid #d8eafe;
      background-color: transparent;
      content: "";
    }
  }
  .sunday {
    color: #d62148;
  }
  tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // tbody,
  // .calendar__week {
  //   td {
  //     width: rem(30px);
  //     height: rem(30px);
  //     border-radius: 100%;
  //     line-height: rem(30px);
  //     text-align: center;
  //   }
  // }
  thead {
    .calendar__week {
      font-weight: bold;
    }
    .calendar__header {
      justify-content: center;
    }
  }
  tbody {
    td {
      width: rem(30px);
      height: rem(30px);
      line-height: rem(30px);
    }
  }
  &__year {
    font-weight: 700;
  }
  &__month {
    font-weight: 700;
  }
  .choice {
    background-color: #146fd3;
  }
}

// 송금 현황
.remit-status {
  .box__body {
    padding-bottom: rem(20px);
  }
  &__unit {
    margin-left: rem(20px);
    font-size: rem(14px);
    vertical-align: middle;
  }
  &__container {
  }
  &__list {
    &__header {
      // height: 58px;
      font-size: 0;
      background-color: #f2f2f2;
      span {
        display: inline-block;
        padding: rem(24px) rem(12px) rem(16px) rem(12px);
        font-size: rem(14px);
        text-align: center;
        color: #353535;
      }
    }
  }
  &__item {
    border-top: 1px solid #e8e6e8;
    font-size: 0;
    &:first-child {
      border-top: 0 none;
    }
    span {
      display: inline-block;
      padding: rem(24px) rem(12px) rem(16px) rem(12px);
      font-family: "Lato";
      font-weight: 400;
      font-size: rem(14px);
      text-align: center;
      color: #353535;
    }
  }
}

// 송금국가 순위
.remit-rank {
  &__container {
  }
}

// 공지사항
.notice {
  .box__body {
    padding-bottom: rem(20px);
  }
}

@include media-breakpoint-down(lg) {
  .dash-board {
    margin: rem(30px) auto rem(52px) auto;
    .overflow-x-auto {
      justify-content: unset;
      padding-left: rem(10px);
      .box {
        &:last-child {
          margin-right: rem(10px);
        }
        .item {
          min-width: rem(240px);
          width: 100%;
          padding: rem(24px) rem(16px) rem(16px) rem(16px);
          div {
            height: rem(48px);
            margin-top: rem(12px);
          }
        }
        span {
          font-size: rem(30px);
          line-height: rem(48px);
          &.unit {
            margin-left: rem(4px);
            font-size: rem(20px);
          }
        }
        &.small-content {
          .item {
            min-width: fit-content;
          }
        }
      }
    }
    .box {
      width: 100%;
      margin-top: rem(20px);
    }
    > div,
    > strong {
      &:not(.overflow-x-auto) {
        padding: 0 rem(10px);
      }
    }
  }

  .han-sidebar {
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(70px);
    position: fixed;
    top: 0;
    left: 0;
    .navbar-toggler {
      margin-left: rem(20px);
    }
    .my-page-button {
      margin-right: rem(20px);
      margin-left: auto;
    }
    #navbar-allmenu {
      // max-height: 100vh;
      .navbar-collapse {
        // height: rem(700px);
        height: 100%;
        .navbar-collapse-header {
          .navbar-brand {
            margin: 0;
            font-size: 0;
          }
          .navbar-toggler {
            margin-left: auto;
          }
          .logo-img {
            width: rem(120px);
            height: rem(17px);
            background-image: url(../images/renewal/logo-hanbiz@3x.png);
          }
        }
        .navbar-nav {
          height: auto;
          border-radius: rem(10px);
          background-color: #ffffff;
          .han-links {
            margin-top: rem(12px);
            margin-bottom: rem(12px);
          }
          .han-toc-item {
            &:first-child {
              .han-toc-link {
                margin-top: 0;
              }
            }
          }
        }
        .navbar-bottom-link-wrap {
          .nav-bottom-link {
            text-align: center;
          }
        }
      }
    }
  }
  .han-content {
    margin-top: rem(70px);
    .container-fluid {
      padding: 0;
    }
  }

  // 실시간 송금 예상 금액
  .remit {
    &__country {
      &__content {
        span {
          font-size: rem(24px);
        }
      }
    }
    &__total {
      display: flex;
      align-items: center;
      margin: rem(24px) 0 rem(30px) 0;
      padding: rem(20px) rem(8px) rem(20px) rem(20px);
      border-radius: rem(4px);
      background-color: #eff6ff;
      &__title {
        font-size: rem(20px);
      }
      &__content {
        &::after {
          height: rem(10px);
          margin-top: rem(-10px);
        }
        span {
          font-size: rem(26px);
        }
        .unit {
          font-size: rem(26px);
        }
      }
    }
    label {
      font-size: rem(14px);
    }
  }
  .remit-comparison {
    width: 100%;
  }
  .remit-schedule {
    width: 100%;
  }
  .remit-status {
    width: 100%;
  }
  .remit-rank {
    width: 100%;
  }
}

.han-sidebar {
  order: 0;
  z-index: 100;
  border-bottom: 1px solid #e6ecf1;
  background-color: #ffffff;
  .navbar-brand {
    margin: rem(40px) auto;
    padding: 0;
    text-align: center;
  }
  .logo-img {
    width: rem(180px);
    height: rem(26px);
    background-image: url(../images/renewal/logo-hanbiz-copy@3x.png);
  }
  .navbar-toggler-icon {
    width: rem(40px);
    height: rem(40px);
    background-image: url(../images/renewal/icons-2021-main-ico-menu@3x.png);
  }
}
.my-page-button {
  padding: 0;
  border: 0 none;
  font-size: 0;
  vertical-align: middle;
  background-color: transparent;
  &-icon {
    display: inline-block;
    width: rem(40px);
    height: rem(40px);
    text-indent: -9999px;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../images/renewal/ico-mypage@3x.png);
  }
}

@media (min-width: 1280px) {
  .han-sidebar {
    flex: 1 0 rem(240px);
  }
  @supports (position: sticky) {
    .han-sidebar {
      position: sticky;
      top: 0;
      height: 100vh;
    }
  }
}
.han-sidebar .nav > li {
}
.han-sidebar .nav > li > a {
  display: block;
  padding: rem(6px) rem(6px) rem(6px) rem(66px);
  font-size: rem(14px);
  color: #3b3b3c;
}
.han-sidebar .nav > li > a:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
}
.han-sidebar .nav > .active > a {
  position: relative;
  font-weight: 800;
  text-decoration: underline;
  background-color: transparent;
}
.han-sidebar .nav > .active:hover > a {
  color: #0099e5;
}
.han-toc-item {
  .nav {
    margin-top: rem(10px);
  }
  &.home {
    .han-toc-link {
      background-image: url(../images/renewal/icons-2021-main-ico-home@3x.png);
      &.active {
        background-image: url(../images/renewal/icons-2021-main-ico-home-blue@3x.png);
      }
    }
  }
  &.remittance {
    .han-toc-link {
      background-image: url(../images/renewal/icons-2021-main-ico-remittance@3x.png);
      &.active {
        background-image: url(../images/renewal/icons-2021-main-ico-remittance-blue@3x.png);
      }
    }
  }
  &.remittance-history {
    .han-toc-link {
      background-image: url(../images/renewal/icons-2021-main-ico-list@3x.png);
      &.active {
      }
    }
  }
  &.reciever {
    .han-toc-link {
      background-image: url(../images/renewal/icons-2021-main-ico-people@3x.png);
      &.active {
      }
    }
  }
}
.han-toc-item.active {
  margin-bottom: 1rem;
}

.han-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.han-toc-item.active > .han-toc-link {
  color: rgba(0, 0, 0, 0.85);
}

.han-toc-item.active > .han-toc-link:hover {
  background-color: transparent;
}

.han-toc-item.active > .han-sidenav {
  display: block;
}
.han-toc-link {
  display: block;
  height: rem(48px);
  margin-top: rem(24px);
  padding: 0 0 0 rem(66px);
  border-radius: rem(24px);
  font-size: rem(18px);
  line-height: rem(48px);
  color: #3b3b3c;
  background-position: rem(16px) 50%;
  background-size: rem(36px);
  background-repeat: no-repeat;
  &.active {
    color: #146fd3;
    background-color: #cde7fb;
  }
}

.han-links {
  margin: 0 rem(20px);
}

.han-content {
  position: relative;
  order: 1;
  width: 100%;
  background-color: #f0f1f6;
  .navbar {
    display: flex;
    align-items: center;
  }
  .navbar-top {
    position: absolute;
    top: rem(32px);
    left: 0;
    z-index: 1;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
  .han-notice {
    margin-left: rem(30px);
    font-size: rem(16px);
    vertical-align: middle;
    &__tag {
      display: inline-block;
      margin-right: rem(12px);
      padding: 0 rem(24px);
      border: 1px solid #353535;
      border-radius: rem(8px);
      font-size: rem(14px);
      font-style: normal;
      line-height: rem(28px);
    }
  }
  .corp-info {
    flex: none;
    margin-right: rem(72px);
    margin-left: auto;
    font-size: 0;
    &__title {
      margin-right: rem(16px);
      font-size: rem(14px);
      font-weight: 800;
      vertical-align: middle;
    }
    &__content {
      margin-right: rem(8px);
      font-size: rem(16px);
      vertical-align: middle;
      text-decoration: underline;
      color: #353535;
    }
  }
}

.dash-board-page {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 992px) {
  .col-xl-2 {
    flex: 0 0 24.6%;
    max-width: 24.6%;
  }
  .col-xl-3 {
    flex: 0 0 32.39%;
    max-width: 32.39%;
  }
  .col-xl-4 {
    flex: 0 0 43.004%;
    max-width: 43.004%;
  }
}

@include media-breakpoint-down(md) {
  .dash-board {
    &__title {
      margin-bottom: rem(20px);
      font-size: rem(18px);
    }
    .overflow-x-auto {
      .box {
        .item {
          padding: rem(24px) rem(20px) rem(16px) rem(20px);
          div {
            height: rem(48px);
          }
        }
        // strong {
        //   font-size: rem(16px);
        // }
        span {
          font-size: rem(30px);
          &.unit {
            margin-left: rem(4px);
            font-size: rem(20px);
          }
        }
      }
    }
    .col-xl-4,
    .col-xl-2 {
      margin-top: rem(20px);
    }
    .box {
      margin-top: rem(20px);
      &__header {
        padding: rem(32px) rem(20px) rem(16px) rem(20px);
      }
      &__body {
        padding: 0 rem(20px) rem(20px) rem(20px);
      }
      &__title {
        font-size: rem(16px);
      }
      &__unit {
        margin-left: rem(8px);
        font-size: rem(12px);
      }
      &__desc {
        margin-top: rem(12px);
        font-size: rem(13px);
        color: #353535;
      }
    }
    // 부트스트랩
    .btn {
      height: rem(44px);
      border-radius: rem(30px);
      font-size: rem(14px);
    }
    .form-control {
      font-size: rem(18px);
    }
  }

  .remit {
    &__country {
      span {
        font-size: rem(10px);
      }
      &__title {
        padding-left: rem(36px);
        &::before {
          width: rem(30px);
          height: rem(30px);
        }
      }
      &__content {
        margin-left: rem(20px);
        span {
          font-size: rem(18px);
        }
      }
      .unit {
        font-size: rem(14px);
      }
    }
    &__charges {
      margin: rem(12px) 0 rem(12px) 0;
      &::before {
        left: rem(14px);
      }
      &::after {
        width: rem(24px);
        height: rem(24px);
      }
      &__content {
        margin: rem(8px) 0 0 auto;
        &__item {
          strong {
            font-size: rem(10px);
            line-height: rem(24px);
            span {
              font-size: rem(10px);
            }
          }
          div {
            margin-left: rem(4px);
          }
          span {
            font-size: rem(10px);
            line-height: rem(24px);
          }
          // .unit {
          // }
        }
      }
    }
    &__total {
      margin: rem(16px) 0 rem(32px) 0;
      padding: rem(12px) rem(8px) rem(12px) rem(12px);
      &__title {
        font-size: rem(15px);
      }
      &__content {
        span {
          font-size: rem(20px);
        }
        .unit {
          font-size: rem(18px);
        }
      }
    }
    label {
      font-size: rem(10px);
    }
  }

  .han-sidebar {
    .nav {
      > li {
        > a {
          font-size: rem(14px);
        }
      }
    }
  }
  .han-toc-link {
    font-size: rem(18px);
  }
  // #navbar-allmenu {
  //   min-height: calc(100vh - 120px);
  //   height: auto;
  //   max-height: 100vh;
  // }
}
