// dashboard styling
@charset "utf-8";

.navbar {
  &--left-side {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: rem(240px);
    height: 100vh;
    padding: 0;
    background-color: #ffffff;
    .navbar-header {
      align-items: flex-start;
      height: 100%;
    }
    .container-fluid {
      margin: 0;
    }
    + .cont-wrap {
      padding-left: rem(240px);
      background-color: #f0f1f6;
    }
  }
}

.space-between {
  // justify-content: space-between;
}

.dash-board {
  margin: rem(128px) auto rem(168px) auto;
  &__title {
    display: block;
    margin-bottom: rem(16px);
    font-size: rem(24px);
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto,
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl,
  .col-xxl-auto {
    padding-right: rem(6px);
    padding-left: rem(6px);
  }
  .col-xl-4 {
    // flex: 0 0 31.746%;
    // max-width: 31.746%;
  }
  .row {
    margin-right: rem(-6px);
    margin-left: rem(-6px);
  }
  .overflow-x-auto {
    flex: 1;
    max-width: 100%;
    padding-bottom: rem(16px);
    justify-content: space-between;
    .box {
      // min-width: rem(400px);
      width: 100%;
      margin: 0 rem(6px);
      text-align: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      .item {
        padding: rem(48px) rem(40px) rem(32px) rem(40px);
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: rem(70px);
          margin-top: rem(8px);
        }
      }
      strong {
        font-size: rem(16px);
        color: #353535;
      }
      span {
        font-size: rem(36px);
        font-weight: 700;
        line-height: rem(48px);
        text-align: right;
        &.unit {
          margin-left: rem(20px);
          font-size: rem(26px);
          text-align: left;
        }
      }
    }
  }
  .box {
    margin-top: rem(20px);
    border-radius: rem(10px);
    background-color: #ffffff;
    &:first-child {
      margin-top: 0;
    }
    &__header {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: rem(40px) rem(24px) rem(24px) rem(24px);
      .nav-pills {
        flex: none;
        margin-left: auto;
      }
    }
    &__body {
      padding: 0 rem(24px) rem(40px) rem(24px);
    }
    &__title {
      font-size: rem(21px);
      &__wrap {
        padding: rem(40px) rem(24px) rem(24px) rem(24px);
      }
    }
    &__desc {
      flex: 1 0 100%;
      margin-top: rem(16px);
      font-size: rem(14px);
      color: #353535;
    }
    &.blue {
      background-image: radial-gradient(
        circle at 18% 10%,
        #1e93f4,
        #0d5ae5 48%
      );
      strong,
      span {
        color: #ffffff;
      }
    }
    &.small-content {
      span {
        font-size: rem(30px);
        letter-spacing: rem(-0.8px);
      }
    }
  }
  // 부트스트랩
  .btn {
    height: rem(60px);
    border-radius: rem(40px);
    font-size: rem(18px);
    background-color: #146fd3;
  }
  .form-control {
    border-width: 0 0 rem(2px) 0;
    border-style: solid;
    border-color: #146fd3;
    border-radius: 0;
    font-size: rem(24px);
    text-align: right;
    color: #363636;
    &::placeholder {
      // font-size: rem(24px);
      color: #c7c7c7;
    }
  }
}

.overflow-x-auto {
  overflow: auto hidden;
}

.remit {
  &__title {
    // margin: 0 0 rem(24px) 0;
    font-size: rem(21px);
    font-weight: 700;
    color: #353535;
    &__wrap {
      margin-bottom: rem(24px);
    }
  }
  &__content {
  }
  &__country {
    display: flex;
    align-items: center;
    span {
      display: block;
      font-size: rem(13px);
      color: #353535;
    }
    &__title {
      flex: none;
      position: relative;
      padding-left: rem(48px);
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: rem(40px);
        height: rem(40px);
        margin: 0 rem(8px) 0 0;
        border-radius: 100%;
        background-color: #bebebe;
        transform: translateY(-50%);
        content: "";
      }
    }
    &__content {
      flex: 1;
      margin-left: rem(30px);
      span {
        font-family: "Lato";
        font-size: rem(18px);
        font-weight: 900;
        text-align: right;
        color: #146fd3;
      }
    }
    .krw {
      &::before {
      }
    }
    .aud {
      &::before {
      }
    }
    .unit {
      margin-top: rem(4px);
      font-size: rem(18px);
      font-weight: 900;
    }
  }
  &__charges {
    position: relative;
    overflow: hidden;
    margin-top: rem(10px);
    // border-left: rem(2px) dotted #d4d4d4;
    max-height: rem(150px);
    &::before {
      position: absolute;
      top: 50%;
      left: rem(4px);
      width: rem(32px);
      height: rem(32px);
      background-position: 50% 50%;
      background-size: 100%;
      background-image: url(../images/renewal/ico-send-money@3x.png);
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: "";
    }
    &__content {
      max-width: calc(100% - 50px);
      margin: rem(12px) 0 rem(12px) auto;
      &__item {
        text-align: right;
        color: #353535;
        strong {
          font-size: rem(12px);
          line-height: rem(30px);
          span {
            font-size: rem(10px);
          }
        }
        div {
          display: inline-block;
          margin-left: rem(4px);
        }
        span {
          font-size: rem(14px);
          line-height: rem(30px);
        }
        .unit {
        }
      }
    }
  }
  &__total {
    display: flex;
    align-items: center;
    margin: rem(16px) 0 rem(30px) 0;
    padding: rem(16px) rem(8px) rem(16px) rem(16px);
    border-radius: rem(4px);
    background-color: #eff6ff;
    &__title {
      font-family: AppleSDGothicNeo;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      font-size: rem(20px);
      font-weight: 800;
      color: #353535;
    }
    &__content {
      flex: none;
      position: relative;
      margin-left: auto;
      font-family: "Lato";
      font-size: 0;
      color: #2c2c2c;
      &::after {
        display: block;
        width: calc(100% + 8px);
        height: rem(8px);
        margin-top: rem(-8px);
        margin-left: rem(-4px);
        background-color: rgba(105, 238, 214, 0.6);
        content: "";
      }
      span {
        font-size: rem(26px);
        font-weight: 900;
      }
      .unit {
        font-size: rem(26px);
      }
    }
  }
  label {
    display: block;
    font-size: rem(14px);
    text-align: right;
    color: #353535;
  }
}

// 총 송금액 (년월별)
.remit-comparison {
}

// 달력
.remit-schedule {
  padding-top: rem(40px);
  &__list {
    margin-top: rem(24px);
  }
  &__item {
    padding: rem(16px) rem(8px) rem(12px) rem(8px);
    border-top: 1px solid #e8e6e8;
    .row {
      display: flex;
      flex-flow: row nowrap;
      margin-top: rem(8px);
      &:first-child {
        margin-top: 0;
      }
    }
    &__title {
      flex: none;
      width: rem(60px);
      margin-right: rem(20px);
      font-size: rem(13px);
      color: #353535;
    }
    &__content {
      flex: 1;
      font-size: rem(14px);
      color: #353535;
    }
  }
}
.calendar {
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(24px);
  }
  &__title {
    font-size: rem(21px);
  }
  &__prev {
  }
  &__next {
  }
  &__body {
    width: inherit;
  }
  &__week {
    font-size: rem(14px);
    td {
      text-align: center;
    }
    .active {
      border-radius: 100%;
      color: #ffffff;
      background-color: #146fd3;
    }
  }
  .sunday {
    color: #d62148;
  }
  tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // tbody,
  // .calendar__week {
  //   td {
  //     width: rem(30px);
  //     height: rem(30px);
  //     border-radius: 100%;
  //     line-height: rem(30px);
  //     text-align: center;
  //   }
  // }
  thead {
    .calendar__week {
      font-weight: bold;
    }
    .calendar__header {
      justify-content: center;
    }
  }
  tbody {
    td {
      width: rem(30px);
      height: rem(30px);
      line-height: rem(30px);
    }
  }
  &__year {
  }
  &__month {
  }
  .choice {
    background-color: #146fd3;
  }
}

// 송금 현황
.remit-status {
  &__unit {
    margin-left: rem(20px);
    font-size: rem(14px);
    vertical-align: middle;
  }
  button {
    flex: none;
    margin-left: auto;
  }
  &__container {
  }
  &__list {
    &__header {
      // height: 58px;
      font-size: 0;
      background-color: #f2f2f2;
      span {
        display: inline-block;
        padding: rem(24px) rem(12px) rem(16px) rem(12px);
        font-size: rem(14px);
        text-align: center;
        color: #353535;
      }
    }
  }
  &__item {
    border-top: 1px solid #e8e6e8;
    font-size: 0;
    &:first-child {
      border-top: 0 none;
    }
    span {
      display: inline-block;
      padding: rem(24px) rem(12px) rem(16px) rem(12px);
      font-family: "Lato";
      font-weight: 400;
      font-size: rem(14px);
      text-align: center;
      color: #353535;
    }
  }
}

// 송금국가 순위
.remit-rank {
  &__container {
  }
}

@include media-breakpoint-down(md) {
  .navbar--left + .cont-wrap {
    padding-left: unset;
  }
  .dash-board {
    .overflow-x-auto {
      justify-content: unset;
      .box {
        min-width: rem(240px);
        width: fit-content;
        margin-left: rem(10px);
        text-align: center;
        .item {
          padding: rem(24px) rem(16px) rem(16px) rem(16px);
          div {
            height: rem(48px);
            margin-top: rem(12px);
          }
        }
        span {
          font-size: rem(30px);
          line-height: rem(48px);
          &.unit {
            margin-left: rem(4px);
            font-size: rem(20px);
          }
        }
      }
    }
    .box {
      width: 100%;
      margin-top: rem(20px);
    }
  }

  // 실시간 송금 예상 금액
  .remit {
    width: 100%;
    padding: rem(32px) rem(16px) rem(24px) rem(16px);
    &__country {
      &__content {
        span {
          font-size: rem(24px);
        }
      }
    }
    &__charges {
      &__content {
        &__item {
          strong {
            span {
            }
          }
          div {
          }
          span {
          }
        }
      }
    }
    &__total {
      display: flex;
      align-items: center;
      margin: rem(24px) 0 rem(30px) 0;
      padding: rem(20px) rem(8px) rem(20px) rem(20px);
      border-radius: rem(4px);
      background-color: #eff6ff;
      &__title {
        // text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        font-size: rem(20px);
      }
      &__content {
        &::after {
          height: rem(10px);
          margin-top: rem(-10px);
        }
        span {
          font-size: rem(26px);
        }
        .unit {
          font-size: rem(26px);
        }
      }
    }
    label {
      font-size: rem(14px);
    }
  }
  .remit-comparison {
    width: 100%;
  }
  .remit-schedule {
    width: 100%;
  }
  .remit-status {
    width: 100%;
  }
  .remit-rank {
    width: 100%;
  }
}

.han-sidebar {
  order: 0;
  border-bottom: 1px solid #e6ecf1;
  // background-color: #f5f7f9;
  background-color: #ffffff;
  .navbar-brand {
    margin-top: rem(40px);
  }
  .logo-img {
    background-image: url(../images/hanpass-logo-180x30-000-3x.png);
  }
}

@media (min-width: 768px) {
  .han-sidebar {
    border-right: 1px solid #e6ecf1;
  }

  @supports (position: sticky) {
    .han-sidebar {
      position: sticky;
      top: 0;
      // top: 4rem;
      z-index: 1000;
      // height: calc(100vh - 4rem);
      height: 100vh;
    }
  }
}
@media (min-width: 1200px) {
  .han-sidebar {
    // flex: 0 1 rem(240px);
    flex: 1 0 rem(240px);
  }
}
.han-sidebar .nav > li {
  // margin-top: rem(12px);
}
.han-sidebar .nav > li > a {
  display: block;
  padding: rem(6px) rem(6px) rem(6px) rem(66px);
  font-size: rem(14px);
  color: #4c555a;
}
.han-sidebar .nav > li > a:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
}
.han-sidebar .nav > .active > a {
  position: relative;
  font-weight: 700;
  // color: #0099e5;
  background-color: transparent;
}
.han-sidebar .nav > .active:hover > a {
  color: #0099e5;
}
.han-toc-item {
  .nav {
    margin-top: rem(10px);
  }
}
.han-toc-item.active {
  margin-bottom: 1rem;
}

.han-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.han-toc-item.active > .han-toc-link {
  color: rgba(0, 0, 0, 0.85);
}

.han-toc-item.active > .han-toc-link:hover {
  background-color: transparent;
}

.han-toc-item.active > .han-sidenav {
  display: block;
}
.han-toc-link {
  display: block;
  height: rem(48px);
  margin-top: rem(26px);
  padding: 0 0 0 rem(66px);
  border-radius: rem(24px);
  font-size: rem(18px);
  line-height: rem(48px);
  color: #3b3b3c;
  background-position: rem(16px) 50%;
  background-size: rem(36px);
  background-image: url(../images/renewal/icons-2021-main-ico-remittance@3x.png);
  background-repeat: no-repeat;
  &.active {
    color: #146fd3;
    background-color: #cde7fb;
  }
}

.han-links {
  margin: 0 rem(20px);
  // margin-right: -15px;
  // margin-left: -15px;
}
@media (min-width: 768px) {
  @supports (position: sticky) {
    .han-links {
      max-height: calc(100vh - 5rem);
      overflow-y: auto;
    }
  }
}
@media (min-width: 768px) {
  .han-links {
    display: block !important;
  }
}

.han-content {
  order: 1;
  width: 100%;
  background-color: #f0f1f6;
}

.dash-board-page {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 1280px) {
  .col-xl-2 {
    flex: 0 0 24.6%;
    max-width: 24.6%;
  }
  .col-xl-3 {
    flex: 0 0 32.39%;
    max-width: 32.39%;
  }
  .col-xl-4 {
    flex: 0 0 43.004%;
    max-width: 43.004%;
  }
}

.dash-board {
  .nav-pills {
    .nav-item {
      margin-left: -1px;
      // border: 1px solid #e8e6e8;
    }
    .nav-item:first-child {
      margin-left: 0;
      .nav-link {
        border-radius: rem(8px) 0 0 rem(8px);
      }
    }
    .nav-item:last-child {
      .nav-link {
        border-radius: 0 rem(8px) rem(8px) 0;
      }
    }
    .nav-link {
      border: 1px solid #e8e6e8;
      &.active {
        color: #fff;
        background-color: #1e4ba3;
      }
    }
    .show {
      > .nav-link {
        color: #fff;
        background-color: #1e4ba3;
      }
    }
  }
}
