.footer {
  padding:rem(56px) 0 rem(104px); background-color: #fff;
  .logo-img{
    margin-top:rem(22px); width: rem(265px); height:rem(41px);
    background: url(../images/footer-logo-265x41-3x.png) no-repeat top center;
    background-size: 100% auto;
  }
  p{margin-top:rem(38px); line-height: rem(20px); font-family: "Noto Sans KR"; color:#989898; }
  .nav{
    margin-top:rem(65.4px);
    li + li{
      position: relative; padding-left:rem(22px);
    }
    a{font-size: rem(18px); color:#989898;}
  }
  .copyright {float: left; color: #6e757f; line-height: 1; letter-spacing: -0.05rem;}
}


