.footer {
  padding-top: 2.313rem; padding-bottom: 2.688rem; background-color: #3a3e46; font-family: $sub-font-family;
  .copyright {float: left; color: #6e757f; line-height: 1; letter-spacing: -0.05rem;}
  .nav{
    float: right; line-height: 1;
    li + li{
      position: relative; padding-left:24px;
      &::before{display: block; position: absolute; left:12px; top:0; width:0; height: 15px; border-left:#505864 solid $border-width; content: '';}
    }
    a{color:#fff;}
  }
}


