html{font-size: 16px;}
// @include media-breakpoint-up(md) {
//   html{font-size: 16px;}
// }
a:hover{text-decoration: none;}

@include media-breakpoint-up(xl) {
  .container-fluid{max-width: rem(1350px);}
}
.line-clamp-2{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}
.bg-1{background-color: #fefefe;}
