.navbar {
  &.sub1 {
    position: absolute;
  }
}
.sub-visual {
  &.hanpass-card {
    height: rem(510px);

    .title {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      .animation-hand {
        position: absolute;
        left: 52%;
        bottom: 0;
        width: rem(415px);
        height: auto;
      }
      h2 {
        position: absolute;
        left: 20%;
        top: 50%;
        font-size: rem(56px);
        font-weight: 500;
        letter-spacing: -0.76px;
        color: #fff;
        & > span {
          margin-top: rem(10px);
          display: block;
          font-size: rem(20px);
          letter-spacing: -0.27px;
        }
      }
    }
    .sub-visual-bg {
      display: block;
      position: relative;
      min-width: 100%;
      height: 100%;
      top: inherit;
      left: inherit;
      transform: inherit;
    }
    h2,
    .animation-hand {
      opacity: 0;
      transition: 1s;
    }
    &.effect {
      h2 {
        animation: 1.5s visual-title ease-out forwards;
      }
      .animation-hand {
        animation: 1.5s animation-hand ease-out forwards;
      }
    }
  }
}

.sub-cont-hanpass-card-01 {
  padding-top: rem(80px);
  h3 {
    font-size: rem(46px);
    font-weight: bold;
    line-height: 1.41;
    color: #18191a;
  }
  p {
    padding-top: rem(50px);
    font-size: rem(22px);
    line-height: 1.45;
    color: #6d6d6d;
  }
  ul.desc-box {
    margin-top: rem(90px);
    width: 100%;
    @include clearfix;
    li {
      position: relative;
      float: left;
      width: 31.5%;
      height: rem(548px);
      border-radius: 24px;
      box-shadow: 0 0 20px 0 rgba(121, 121, 121, 0.2);
      background-color: #fff;
      text-align: center;
      strong {
        font-weight: bold;
      }
      & > .img {
        margin-top: rem(87px);
        text-align: center;
        &.img-cashback > img {
          width: rem(204px);
          height: rem(225px);
        }
        &.img-bus > img {
          width: rem(238px);
          height: rem(182px);
        }
        &.img-global > img {
          width: rem(187px);
          height: rem(240px);
        }
      }
      & > p {
        position: absolute;
        bottom: rem(34px);
        width: 100%;
        font-family: 'Apple SD Gothic Neo';
        font-size: rem(26px);
        line-height: 1.54;
        color: #18191a;
      }
      & + li {
        margin-left: 2.75%;
      }
      strong {
        display: block;
      }
    }
  }
  .annual-fees {
    position: relative;
    margin-top: rem(30px);
    width: 100%;
    font-size: rem(18px);
    line-height: 2.11;
    text-align: center;
    color: #18191a;
    text-align: right;
  }
  .container-fluid {
    h3,
    & > p,
    .annual-fees,
    ul.desc-box > li {
      opacity: 0;
      transition: 1s;
    }
  }
  &.effect {
    .container-fluid {
      h3 {
        -webkit-animation: 1.2s moveright ease-out forwards;
        animation: 1.2s moveright ease-out forwards;
      }
      & > p {
        -webkit-animation: 1.2s moveleft1 ease-out forwards;
        animation: 1.2s moveleft1 ease-out forwards;
        animation-delay: 0.4s;
      }
      ul.desc-box {
        li {
          -webkit-animation: 1s movetop1 ease-out forwards;
          animation: 1s movetop1 ease-out forwards;
        }
        li:nth-child(1) {
          animation-delay: 0.8s;
        }
        li:nth-child(2) {
          animation-delay: 1s;
        }
        li:nth-child(3) {
          animation-delay: 1.2s;
        }
      }
      .annual-fees {
        -webkit-animation: 1.2s moveleft1 ease-out forwards;
        animation: 1.2s moveleft1 ease-out forwards;
        animation-delay: 1.5s;
      }
    }
  }
}

.sub-cont-hanpass-card-02 {
  margin: rem(183.4px) 0 rem(80px);
  height: 589px;
  @include left-middle;
  .container-fluid {
    height: 100%;
    perspective: 300px;
  }

  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translate(0px, 0px);
  }
  .desc {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  h3 {
    margin-top: rem(87.5px);
    font-size: rem(38px);
    font-weight: 500;
    line-height: 1.53;
    color: #18191a;
  }
  p {
    margin-top: rem(108px);
    font-size: rem(22px);
    line-height: 1.45;
    color: #6d6d6d;
  }
  h3,
  p {
    opacity: 0;
    transition: 1s;
  }
  &.effect {
    .background {
      // &.front {
      //   animation: attraction 0.4s linear 0s infinite alternate;
      //   // transform: rotateY(180deg);
      // }
      &.back {
        animation: updown 1.4s ease-in-out infinite;
        // transform: rotateY(360deg);
      }
    }
    h3 {
      animation: moveright 1.2s ease-out forwards;
    }
    p {
      animation: moveleft1 1.2s ease-out forwards;
      animation-delay: 0.4s;
    }
  }
}

.sub-cont-hanpass-card-03 {
  &.effect {
    .swiper-slide-active.effect {
      .img-card {
        img {
          &.front {
            transform: rotateY(360deg) !important;
          }
          &.back {
            transform: rotateY(180deg) !important;
          }
        }
      }
    }
  }

  .banner-box {
    position: relative;
    width: 100%;
    height: rem(444px);
    margin: rem(100px) 0;

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      .img-card {
        position: absolute;
        width: 289px;
        height: 448px;
        perspective: 500px;
        img {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          transition: 1.4s;
          &.front {
            transform: rotateY(0deg);
          }
          &.back {
            transform: rotateY(-180deg);
          }
        }
        &:hover {
          img {
            &.front {
              transform: rotateY(180deg) !important;
            }
            &.back {
              transform: rotateY(0deg) !important;
            }
          }
        }
      }

      .arr-link {
        display: block;
        position: absolute;
        width: 80px;
        height: 24px;
        & > img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .desc {
        padding-top: 7%;
        color: #fff;
        p {
          font-size: rem(18px);
          line-height: 1.56;
        }
        h3 {
          font-family: 'Apple SD Gothic Neo';
          margin-top: rem(54px);
          font-size: rem(50px);
          font-weight: 900;
          & > span {
            display: block;
            font-size: rem(22px);
            opacity: 0.7;
            line-height: 2.55;
            letter-spacing: -0.3px;
            font-weight: normal;
          }
        }
      }
    }
    &.banner1 {
      text-align: right;
      background-image: linear-gradient(to left, #132e66, #045f9f);
      .img-card {
        left: rem(160px);
        top: rem(-44px);
      }
      .content {
        .arr-link {
          left: 0;
          bottom: 20%;
        }
      }
    }
    &.banner2 {
      background-image: linear-gradient(to left, #194e9a, #d01c43);
      .img-card {
        right: rem(160px);
        bottom: rem(-44px);
      }
      .content {
        .arr-link {
          right: 0;
          bottom: 20%;
        }
      }
    }
  }
}

.sub-cont-hanpass-card-04 {
  margin-top: rem(90px);
  .benefit {
    position: relative;
    margin: 0 rem(166px) 0 rem(36px);
    & + .benefit {
      margin-top: rem(83px);
    }
  }
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    &.icon-cashback {
      top: 50px;
      right: 0;
      width: 204px;
      height: 225px;
    }
    &.icon-bus {
      top: 20px;
      right: 0;
      width: 238px;
      height: 182px;
    }
    &.icon-global {
      top: 20px;
      right: 43px;
      width: 187px;
      height: 240px;
    }
  }
  .desc {
    margin-top: rem(24px);
    position: relative;
  }
  .label {
    width: rem(140px);
    height: rem(48px);
    overflow: hidden;
    & > span {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-family: 'Apple SD Gothic Neo';
      font-size: rem(24px);
      font-weight: bold;
      line-height: 2.33;
      text-align: center;
      color: #fff;
      border-radius: rem(32px);
      background-color: #3b57f1;
    }
  }
  h3 {
    font-size: rem(40px);
    font-weight: bold;
    line-height: 1.4;
    color: #18191a;
    overflow: hidden;
  }
  h4 {
    position: relative;
    margin-top: rem(51px);
    width: 70%;
    font-size: rem(32px);
    font-weight: normal;
    line-height: 1.38;
    color: #18191a;
    overflow: hidden;
  }
  .maskBox {
    display: block;
    position: relative;
    overflow: hidden;
    & > span {
      display: inline-block;
    }
  }
  dl {
    margin-top: rem(33px);
    border-top: 2px solid #18191a;
    @include clearfix;
    dt,
    dd {
      float: left;
      margin-top: rem(35px);
    }
    dt {
      width: 112px;
      font-size: rem(20px);
      font-weight: bold;
      color: #18191a;
    }
    dd {
      width: calc(100% - 112px);
      padding-left: rem(50px);
      font-size: rem(18px);
      color: #6d6d6d;
    }
  }
  .card {
    margin-top: rem(53px);
    border-top: 2px solid #18191a;
    border-bottom: 2px solid #18191a;
    .collapse + .card-header {
      border-top: 2px solid #18191a;
    }
    .card-header {
      position: relative;
      border-radius: 0;
      padding: rem(33px) 0;
      cursor: pointer;
      border: 0;
      h5 {
        font-size: rem(24px);
        color: #18191a;
        font-weight: bold;
      }
      .icon {
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
      }
      &.collapsed .icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .card-body {
      background: rgba(38, 38, 38, 0.03);
      .fill-method-cont {
        padding: rem(40px);
        text-align: center;
        h6 {
          font-size: rem(24px);
          font-weight: bold;
          color: #18191a;
        }
        .fill-method-step {
          @include clearfix;
          li {
            float: left;
            margin-top: 53px;
            width: 50%;
            & > span {
              display: block;
              font-family: 'Apple SD Gothic Neo';
              font-size: 18px;
              font-weight: 900;
              color: #18191a;
            }
            img {
              margin: 0 auto;
              display: block;
              margin: 18px auto;
              width: 220px;
              height: 220px;
            }
            p {
              font-family: 'Apple SD Gothic Neo';
              font-size: 18px;
              line-height: 1.44;
              color: #18191a;
              & > span {
                font-size: 16px;
              }
            }
          }
        }
      }
      .info-cont {
        padding: 49px 39px;
        text-align: left;
        font-size: 18px;
        color: #262626;
      }
    }
  }
}

.sub-cont-hanpass-card-05 {
  margin-top: rem(100px);
  .tabs-type1 {
    margin: 0 166px 0 36px;
    .tab-content {
      margin-top: rem(35px);
      .tab-pane {
        padding: 50px 40px 0 40px;
        background: rgba(38, 38, 38, 0.03);
      }
    }
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    color: #262626;
    & + p {
      margin-top: rem(18px);
      padding: 0 rem(13px) rem(37px) rem(13px);
      font-size: 16px;
      line-height: 1.75;
      color: #262626;
    }
  }
  .apply-method-step {
    @include clearfix;
    margin: 0 rem(25px);
    li {
      float: left;
      margin-top: 53px;
      width: 25%;
      text-align: center;
      & > span {
        display: block;
        font-family: 'Apple SD Gothic Neo';
        font-size: 18px;
        font-weight: 900;
        color: #18191a;
      }
      img {
        margin: 0 auto;
        display: block;
        margin: 37px auto 58px auto;
        width: 180px;
        height: 180px;
      }
      p {
        font-family: 'Apple SD Gothic Neo';
        font-size: 18px;
        line-height: 1.44;
        color: #18191a;
        & > span {
          font-size: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
}
@include media-breakpoint-down(md) {
  .sub-visual.hanpass-card .title h2 {
    font-size: rem(40px);
  }
  .sub-cont-hanpass-card-01 h3 {
    font-size: rem(40px);
  }
}
@include media-breakpoint-down(sm) {
  .sub-visual.hanpass-card .title h2 {
    font-size: rem(30px);
  }
  .sub-cont-hanpass-card-01 {
    padding-top: rem(60px);
    h3 {
      font-size: rem(28px);
    }
    p {
      padding-top: rem(30px);
      font-size: rem(18px);
    }
    ul.desc-box {
      margin-top: rem(60px);
      li {
        width: 46%;
        height: 320px;
        & + li {
          margin-left: 4%;
        }
        &:last-child {
          margin: rem(20px) 0 0 0;
        }
        & > .img {
          margin-top: rem(27px);
          & > img {
            width: 80% !important;
            height: auto !important;
          }
        }
        & > p {
          font-size: rem(18px);
        }
      }
    }
  }
  .sub-cont-hanpass-card-02 {
    margin: rem(50px) 0 rem(40px);
    height: auto;
    .background {
      display: none;
    }
    .desc {
      position: relative;
    }
    h3 {
      margin-top: rem(40px);
      font-size: rem(28px);
    }
    p {
      margin-top: rem(40px);
      font-size: rem(18px);
    }
  }
  .sub-cont-hanpass-card-03 {
    .banner-box {
      height: auto;
      .content {
        position: relative;
        .img-card {
          width: 289px;
          height: 448px;
          top: rem(-44px);
          left: 50%;
          transform: translateX(-50%);
        }
        .desc {
          padding-top: rem(500px);
          padding-bottom: rem(100px);
          p {
            font-size: rem(15px);
          }
          h3 {
            margin-top: rem(34px);
            font-size: rem(30px);
            & > span {
              font-size: rem(18px);
            }
          }
        }
      }
      &.banner1 {
        .img-card {
          top: rem(-44px);
          left: 50%;
        }
        .content {
          .arr-link {
            left: rem(40px);
            bottom: rem(50px);
          }
        }
      }
      &.banner2 {
        .img-card {
          right: inherit;
          bottom: inherit;
        }
        .content {
          .arr-link {
            right: rem(40px);
            bottom: rem(50px);
          }
        }
      }
    }
  }
  .sub-cont-hanpass-card-04 {
    margin-top: 0;
    .benefit {
      margin: 0;
      & + .benefit {
        margin-top: rem(53px);
      }
    }
    .icon {
      display: none;
    }
    .label {
      width: rem(100px);
      height: rem(38px);
      & > span {
        font-size: rem(18px);
      }
    }
    h3 {
      font-size: rem(28px);
    }
    h4 {
      width: 100%;
      margin-top: rem(20px);
      font-size: rem(18px);
    }
    dl {
      dt,
      dd {
        margin-top: rem(20px);
      }
      dt {
        width: rem(80px);
      }
      dd {
        padding-left: rem(20px);
        font-size: rem(18px);
        line-height: 1.4;
      }
    }
    .card {
      margin-top: rem(23px);
      .card-header {
        padding: rem(23px) 0;
        h5 {
          font-size: rem(20px);
        }
      }
      .card-body {
        .fill-method-cont {
          padding: 0;
          h6 {
            font-size: rem(20px);
          }
          .fill-method-step {
            li {
              & > span {
                font-size: 15px;
              }
              img {
                width: 120px;
                height: 120px;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
        .info-cont {
          padding: 39px 29px;
          text-align: left;
          font-size: 16px;
          color: #262626;
        }
      }
    }
  }
  .sub-cont-hanpass-card-05 {
    margin-top: rem(50px);
    .tabs-type1 {
      margin: 0;
      .tab-content {
        margin-top: rem(25px);
        .tab-pane {
          padding: 30px 20px 0 20px;
        }
      }
      .list-group-item-action {
        padding: rem(18px);
        font-size: rem(20px);
        text-align: center;
        & + .list-group-item-action {
          margin-left: 0;
        }
      }
    }
    h3 {
      font-size: 18px;
      & + p {
        font-size: 15px;
      }
    }
    .apply-method-step {
      margin: 0;
      li {
        margin-top: 33px;
        width: 50%;
        & > span {
          font-size: 16px;
        }
        img {
          margin: 17px auto 38px auto;
          width: 120px;
          height: 120px;
        }
        p {
          font-size: 15px;
          letter-spacing: -1px;
          & > span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@keyframes visual-title {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation-hand {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(-160px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveright1 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes movetop1 {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes movetop2 {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveleft1 {
  0% {
    opacity: 0;
    transform: translateX(160px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes updown {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-7px);
  }
}
