@charset "utf-8";
/* ----------------------------------------------
	초기화
---------------------------------------------- */

.ell {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.ell--2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.weight {
  &--400 {
    font-weight: 400;
  }
  &--500 {
    font-weight: 500;
  }
  &--600 {
    font-weight: 600;
  }
  &--700 {
    font-weight: 700;
  }
}
.bold {
  font-weight: 700;
}
.green {
  color: #33dd9b;
}

@media (min-width: 1280px) {
  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: rem(1260px);
    padding: 0;
  }
}

.container-fluid {
  &:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
    content: "";
  }
}

.top-right-fixed-wrap {
  position: fixed;
  top: 2.4812rem;
  right: 3.25rem;
  z-index: 9999;
  a {
    display: block;
    margin-top: 1.0438rem;
    padding: 1.25rem 1.0625rem;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: #ffffff;
  }
  .btn--login {
    background-image: linear-gradient(
      144deg,
      #4c53ff 22%,
      #2927f4 63%,
      #0a00eb 100%
    );
    &:before {
      display: block;
      width: 4.375rem;
      height: 1.0625rem;
      margin: 0 auto 1.25rem auto;
      background-position: 0 0;
      background-size: cover;
      background-image: url(../../images/renewal/logo-hanbiz-2@3x.png);
      background-repeat: no-repeat;
      content: "";
    }
  }
  .btn--primary {
    padding: 1.25rem 1rem;
    border-radius: 0.625rem;
    background-color: #0921a2;
  }
}

// #top-btn {
// }

// 메인 비주얼
.main-visual {
  .main-visual {
    &-bg-01 {
      background-position: 0 50%;
      background-image: url(../../images/renewal/main-visual-01-01@3x.png);
      background-repeat: no-repeat;
    }
  }
}

.content {
  height: calc(100vh - 95px);
  overflow: hidden;
  // opacity: 0;
  transition: 1s;
}

.main-conts {
  &-02 {
    background-size: cover;
    background-image: url(../../images/renewal/bg-img@3x.png);
    .card-wrap {
      &.bay-tree {
        margin-top: 3.5rem;
        margin-bottom: 7.25rem;
      }
    }
  }
  &-03 {
    background-size: cover;
    background-image: url(../../images/renewal/bg-digit@2x.png);
    background-color: #12134b;
    .float-right {
      width: 100%;
    }
    .main-title {
      &--sub {
        color: #ffffff;
      }
      &--mid {
        color: #ffffff;
      }
    }
    .left-nav {
      margin-top: calc(-95px / 2);
      ul {
        margin-top: 0;
      }
    }
    ul {
      > li {
        > span {
          color: #ffffff;
        }
        > strong {
          color: #6effdf;
        }
      }
    }
  }
  &-04 {
    img {
      margin: -19em 0 0 43rem;
      width: 31.4375rem;
      height: 34.25rem;
    }
    // .float-right {
    //   flex-direction: column !important;
    //   width: 100%;
    //   height: auto;
    // }
    .box--gradient {
      margin: 7.25rem 0 6.5rem;
    }
  }
  &-05 {
    background-color: #f7f7f7;
    .content {
      max-width: 49.375rem;
    }
    .card-wrap {
      flex-wrap: wrap;
      max-width: 43.125rem;
      margin: 7rem 0 8.5rem;
    }
    .card-item {
      flex: none;
      width: 20.6875rem;
      margin: 3.125rem 0 0 0;
      // margin-top: 3.125rem;
      // margin-left: 0;
      box-shadow: none;
      &:nth-child(2) {
        .card-img {
          height: 5.625rem;
        }
      }
      &:nth-child(3) {
        .card-img {
          height: 6.25rem;
        }
      }
      &:nth-child(4) {
        .card-img {
          width: 6.25rem;
          height: 6.5rem;
        }
      }
      &:nth-child(2n - 1) {
        margin-top: -12.5rem;
      }
      &:nth-child(2n) {
        margin-left: 1.75rem;
      }
    }
    .card-title {
      // font-size: 1.5rem;
      margin: 1.25rem 0 1.875rem;
      font-size: 1.625rem;
      line-height: 2.5rem;
      color: #292929;
    }
    .card-txt {
      font-size: 1.125rem;
      line-height: 1.875rem;
      color: #ababab;
    }
  }
  &-06 {
    background-color: #1e4ba3;
    .card {
      background-color: transparent;
    }
    .main-title {
      color: #ffffff;
      &--txt {
        color: #ffffff;
      }
    }
    .business-card {
      max-width: rem(692px);
      margin-bottom: 6.25rem;
      .card-item {
        width: rem(692px);
      }
    }
  }
  &-07 {
    .float-right {
      width: 100%;
    }
    .card-wrap {
      &.ci-banner {
        margin-top: rem(8px);
        .card-item {
          width: 20%;
        }
      }
    }
    .info-intro-link {
      margin: 11.5rem 0 9rem;
    }
  }
}

.card {
  &-wrap {
    display: flex;
    align-items: center;
    &.column {
      flex-flow: column wrap;
      align-items: stretch;
      .card-item {
        margin: 1.5rem 0 0 0;
        &:first-child {
          margin: 0;
        }
      }
      .card-content {
        flex-flow: row wrap;
        align-items: flex-end;
      }
      .card-title {
        margin-bottom: 0;
        font-family: "NanumSquare";
        font-size: 1.625rem;
        line-height: 2.5rem;
        color: #292929;
      }
      .card-txt {
        margin: 1.875rem 0 0 0;
        font-family: "NanumSquare";
        font-size: 1.125rem;
        line-height: 1.875rem;
        color: #ababab;
      }
    }
    &.business-card {
      .card-item {
        border-radius: 0;
        box-shadow: none;
      }
      .card-content {
        flex-flow: row nowrap;
        align-items: center;
        height: 9.3125rem;
        padding: 0.7375rem 2.425rem 0.7375rem 2.425rem;
      }
      .card-ico {
        background-position: 0 50%;
        background-size: contain;
        &.truefriend {
          width: rem(310px);
        }
        &.koima {
          width: rem(176px);
        }
      }
      .card-img {
        width: auto;
        max-width: 19.375rem;
        height: auto;
        max-height: 7.875rem;
      }
      .card-txt {
        margin: 0 0 0 rem(36px);
        font-size: rem(20px);
        line-height: rem(30px);
        color: #292929;
      }
    }
    &.ci-banner {
      flex-wrap: wrap;
      justify-content: space-between;
      .card-item {
        flex: unset;
        width: 20%;
        margin: 4.5rem 0 0 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
      }
      .card-content {
        align-items: center;
        height: 3rem;
        padding: 0;
      }
      .card-img {
        width: inherit;
        height: inherit;
      }
    }
    &.count {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      counter-reset: number 0;
      .card-item {
        &:before {
          position: absolute;
          top: -1.75rem;
          left: 50%;
          transform: translateX(-50%);
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 9999px;
          line-height: 3.5rem;
          text-align: center;
          color: #ffffff;
          background-color: #1632d2;
          counter-increment: number 1;
          content: "0" counter(number);
        }
      }
      .card-title {
        margin-bottom: 0.6875rem;
        font-family: "S-Core";
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        text-align: center;
      }
      .card-txt {
        font-family: "S-Core";
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: center;
        color: #353535;
      }
    }
    &.bay-tree {
      flex-flow: row nowrap;
      align-items: stretch;
      overflow-x: auto;
      // padding: 4.9375rem 1.5rem 9.0625rem 1.5rem;
      padding: 1.5rem;
      margin: 0 -1.5rem;
      .card-item {
        min-width: 15rem;
        display: flex;
        margin-left: 1rem;
        box-shadow: 0 2px 7px 2px rgba(211, 211, 211, 0.5);
        &:first-child {
          margin-left: 0;
        }
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: rem(64px);
          height: rem(74px);
          background-size: 100%;
          background-repeat: no-repeat;
          content: "";
        }
        &:before {
          left: rem(12px);
          background-image: url(../../images/renewal/img-licence-open@3x.png);
        }
        &:after {
          right: rem(12px);
          background-image: url(../../images/renewal/img-licence-close@3x.png);
        }
      }
      .card-content {
        flex: 1;
        align-items: center;
        padding: 1.875rem 4rem 1.25rem 4rem;
      }
      .card-title {
        display: inline-flex;
        align-items: center;
        min-height: 4.25rem;
        margin-bottom: 0.25rem;
        font-family: "NanumSquare";
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
        color: #00051f;
      }
      .card-txt {
        margin-top: auto;
        font-size: 0.875rem;
        text-align: center;
        line-height: 2.125rem;
        letter-spacing: -0.88px;
      }
    }
  }
  &-item {
    flex: 1;
    position: relative;
    margin-left: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    &:first-child {
      margin-left: 0;
    }
  }
  &-content {
    display: flex;
    flex-flow: column wrap;
    padding: 3rem 1.5rem 1rem 1.5rem;
  }
  &-img {
    width: 6.5rem;
    height: 6.5rem;
  }
  &-ico {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-size: 0;
    &.samsung-pay {
      background-size: rem(100px);
      background-image: url(../images/renewal/logo-samsung-pay@3x.png);
    }
    &.truefriend {
      background-size: rem(208px);
      background-image: url(../images/renewal/logo-truefriend@3x.png);
    }
    &.ki {
      background-size: rem(120px);
      background-image: url(../images/renewal/logo-ki@3x.png);
    }
    &.mirae {
      background-size: rem(192px);
      background-image: url(../images/renewal/logo-mirae@3x.png);
    }
    &.kt {
      background-size: rem(48px);
      background-image: url(../images/renewal/logo-kt@3x.png);
    }
    &.wu {
      background-size: rem(208px);
      background-image: url(../images/renewal/logo-wu@3x.png);
    }
    &.uway {
      background-size: rem(96px);
      background-image: url(../images/renewal/logo-uway@3x.png);
    }
    &.eximbank {
      background-size: rem(192px);
      background-image: url(../images/renewal/logo-eximbank@3x.png);
    }
    &.iremit {
      background-size: rem(132px);
      background-image: url(../images/renewal/logo-iremit@3x.png);
    }
    &.nsb {
      background-size: rem(146px);
      background-image: url(../images/renewal/logo-nsb@3x.png);
    }
    &.koima {
      background-size: rem(176px);
      background-image: url(../images/renewal/logo-koima.png);
    }
  }
  &-title {
    font-size: 1.25rem;
    color: #1632d2;
    &-wrap {
      display: flex;
      flex-flow: column wrap;
    }
  }
  &-txt {
    font-size: 1rem;
    color: #353535;
  }
}

.box {
  &--gradient {
    border-radius: rem(28px);
    background-image: linear-gradient(115deg, #363ef8 4%, #6119ec 92%);
    &__content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 6.9375rem 6.4375rem 6.4375rem;
    }
    .main-title {
      text-align: center;
      color: #ffffff;
      &__wrap {
        margin-bottom: 3.125rem;
      }
      &--txt {
        margin: 2rem 0 0 0;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.white-border-box {
  margin-top: rem(16px);
  padding: rem(10px) rem(48px) rem(8px) rem(48px);
  border-radius: rem(28px);
  text-align: center;
  background-color: #ffffff;
  &:first-child {
    margin-top: 0;
  }
  &__txt {
    font-size: rem(24px);
    line-height: rem(40px);
    color: #292929;
  }
}

// Main
.main-title {
  display: block;
  font-family: "S-Core";
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 4.0625rem;
  color: #353535;
  &__wrap {
    &.center {
      .main-title {
        text-align: center;
        &--sub {
          text-align: center;
        }
        &--txt {
          text-align: center;
        }
      }
    }
  }
  &--mid {
    display: block;
    font-size: 1.875rem;
  }
  &--sub {
    display: block;
    margin: 0 0 rem(16px) 0;
    font-family: "S-Core";
    font-weight: 500;
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(74px);
    color: #353535;
  }
  &--txt {
    display: block;
    margin: rem(70px) 0 0 0;
    font-family: "S-Core";
    font-size: rem(20px);
    font-weight: 500;
    line-height: rem(40px);
    color: #353535;
  }
}

// Notice
.main-notice {
  &__title {
    font-family: "S-Core";
    font-size: rem(44px);
    font-weight: 700;
    line-height: rem(65px);
    color: #353535;
    &__wrap {
      display: flex;
      align-items: flex-end;
      padding-bottom: rem(16px);
      border-bottom: 1px solid rgba(86, 86, 86, 0.2);
      a {
        flex: none;
        margin-left: auto;
        font-size: rem(16px);
        line-height: rem(18px);
        color: #353535;
        &:after {
          display: inline-block;
          width: rem(10px);
          height: rem(16px);
          margin-left: rem(10px);
          vertical-align: middle;
          background-position: 50% 50%;
          background-size: cover;
          background-image: url(../images/renewal/btn-arrow-more@3x.png);
          background-repeat: no-repeat;
          content: "";
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-flow: column wrap;
  }
  &__item {
    flex: 1;
    border-bottom: 1px solid rgba(86, 86, 86, 0.2);
  }
  &__content {
    display: flex;
    align-items: center;
    padding: rem(32px) 0 rem(28px) 0;
    &__title {
      font-size: rem(16px);
      color: #353535;
    }
    &__date {
      flex: none;
      margin-left: auto;
      font-size: rem(16px);
      color: #353535;
    }
  }
}

.button {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.02);
  &__content {
    display: flex;
    padding: rem(16px) rem(42px);
    border: 1px solid #e0e0e0;
  }
  &__ico {
    width: rem(60px);
    height: rem(60px);
    margin: 0 rem(24px) 0 0;
    font-size: 0;
    text-indent: -9999px;
    &.download {
      flex: none;
      background-size: cover;
      background-image: url(../../images/renewal/btn-downfile@3x.png);
      background-repeat: no-repeat;
    }
  }
  &__txt {
    font-size: rem(18px);
    line-height: rem(30px);
    color: #292929;
    &__wrap {
      margin-top: rem(14px);
      text-align: left;
    }
    &--desc {
      display: block;
      margin-top: 0.4625rem;
      font-size: rem(16px);
      line-height: rem(21px);
      color: #353535;
    }
  }
}

// 공지사항, 소개 및 신청
.info-intro-link {
  .main-notice {
    width: 38.75rem;
  }
  .button {
    width: 35.375rem;
    margin-top: rem(28px);
    &:first-child {
      margin-top: 0;
    }
  }
}
.download-wrap {
  display: flex;
  flex-flow: column wrap;
}

@media (max-width: 767.98px) {
  .main-conts {
    &-02 {
      background-color: #f5f9fc;
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
      .card-wrap {
        &.bay-tree {
          margin-top: 0.75rem;
          margin-bottom: 1.5rem;
          .card-item {
            margin-left: 0.625rem;
            &:first-child {
              margin-left: 0;
            }
            &:before,
            &:after {
              width: 3.125rem;
              height: 4.125rem;
              background-size: cover;
            }
          }
          .card-content {
            padding: 1.5rem 1rem 1rem 1rem;
          }
        }
      }
    }
    &-03 {
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
    }
    &-04 {
      padding: 0;
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
      img {
        width: 10.125rem;
        height: 11.0625rem;
        margin: -2.625rem 0 0 10.625rem;
      }
      .box--gradient {
        margin: 2.125rem 0 3.25rem;
        ul {
          width: 100%;
        }
      }
    }
    &-05 {
      .card-wrap {
        margin: 1.5rem 0 3.75rem 0;
      }
      .card-item {
        width: 100%;
        margin: 0.75rem 0 0 0;
        &:first-child {
          margin: 0;
        }
        &:nth-child(2) {
          .card-img {
            height: 3rem;
          }
        }
        &:nth-child(3) {
          .card-img {
            height: 3.25rem;
          }
        }
        &:nth-child(4) {
          .card-img {
            width: 3.4375rem;
            height: 3.5rem;
          }
        }
        &:nth-child(2n - 1) {
          margin: 0.75rem 0 0 0;
        }
        &:nth-child(2n) {
          margin: 0.75rem 0 0 0;
        }
      }
      .card-content {
        padding: 1.875rem 0.625rem 2.5rem 0.625rem;
      }
      .card-img {
        width: 3.5rem;
        height: 3.5rem;
      }
      .card-title {
        margin: 0 0 0 rem(16px);
        font-size: 1.1428rem;
        line-height: 1.7143rem;
        &-wrap {
          margin-bottom: rem(24px);
        }
      }
      .card-txt {
        font-size: 0.75rem;
        line-height: 1.4286rem;
      }
    }
    &-06 {
      background-color: #1e4ba3;
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
      .card-wrap {
        &.business-card {
          margin-top: rem(20px);
          margin-bottom: rem(16px);
        }
      }
    }
    &-07 {
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
      .card-wrap {
        &.ci-banner {
          margin: 0.5rem rem(-4px) 0 rem(-4px);
          .card-item {
            min-width: 26%;
            width: auto;
            margin: rem(24px) rem(4px) 0 rem(4px);
          }
          .card-content {
            height: rem(32px);
          }
        }
      }
      .info-intro-link {
        margin: rem(60px) 0 rem(40px);
      }
    }
  }

  // Main
  .main-title {
    font-size: 1.7143rem;
    line-height: 2.1428rem;
    &__wrap {
      &.center {
        .main-title--sub,
        .main-title--mid {
          text-align: left;
        }
      }
    }
    &--mid {
      font-size: 1.7143rem;
      line-height: 2.1428rem;
    }
    &--sub {
      margin: 0 0 0.8571rem 0;
      font-size: 0.8571rem;
      line-height: 1.25rem;
    }
    &--txt {
      margin: 1.7143rem 0 0 0;
      font-size: 1rem;
      line-height: 1.5714rem;
    }
  }

  // Notice
  .main-notice {
    &__title {
      font-size: rem(24px);
      line-height: rem(64px);
      &__wrap {
        align-items: center;
        padding-bottom: rem(8px);
        a {
          font-size: 0;
        }
      }
    }
    &__content {
      flex-flow: column-reverse wrap;
      align-items: flex-start;
      padding: rem(10px) 0 rem(12px) 0;
      &__title {
        font-size: rem(16px);
      }
      &__date {
        margin-bottom: rem(4px);
        margin-left: unset;
        font-size: rem(12px);
        line-height: rem(20px);
        color: #ababab;
      }
    }
  }

  // Card
  .card {
    &-wrap {
      &.column {
        flex-flow: column wrap;
        align-items: stretch;
        .card-item {
          margin: 1.5rem 0 0 0;
        }
        .card-content {
          padding: 2.1428rem 0.625rem 2.375rem 0.625rem;
        }
        .card-img {
          width: 3.5rem;
          height: 3.5rem;
        }
        .card-title {
          margin-left: 1.125rem;
          font-size: 1rem;
          line-height: 1.5rem;
        }
        .card-txt {
          margin: 1.5625rem 0 0 0;
          font-size: 0.75rem;
          line-height: 1.25rem;
        }
      }
      &.business-card {
        flex-flow: row nowrap;
        align-items: stretch;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 1.5rem;
        margin: 0 -1.5rem;
        .card-item {
          margin: 0 0 0 0.7143rem;
          &:first-child {
            margin: 0;
          }
        }
        .card-ico {
          width: 100%;
          height: rem(56px);
          background-position: 0 50%;
          background-size: contain;
          &.kita,
          &.truefriend,
          &.koima {
            width: 100%;
          }
        }
        .card-content {
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 16rem;
          height: 10.2858rem;
          padding: 1.0625rem 2.125rem 1.1875rem 1.0625rem;
        }
        .card-img {
          width: auto;
          max-width: auto;
          height: auto;
          max-height: 2.875rem;
        }
        .card-txt {
          min-height: rem(40px);
          margin: 0;
          font-size: rem(12px);
          line-height: rem(20px);
        }
      }
      &.count {
        margin-top: -4.125rem;
        .card-item {
          flex: none;
          width: 100%;
          margin: 3.9687rem 0 0 0;
          &:first-child {
            margin: 0;
          }
          &:before {
            top: -1.2188rem;
            width: 2.4375rem;
            height: 2.4375rem;
            font-size: 0.875rem;
            line-height: 2.4375rem;
          }
        }
        .card-content {
          padding: 2.3571rem 0.7142rem 1rem 0.7142rem;
        }
        .card-title {
          margin-bottom: 1.1428rem;
          font-size: 1.1428rem;
          line-height: 1.1428rem;
        }
        .card-txt {
          font-size: 0.8571rem;
          line-height: 1.4286rem;
        }
      }
    }
    &-title {
      &-wrap {
        flex-flow: row wrap;
        align-items: center;
      }
    }
    &-ico {
      &.samsung-pay {
        width: rem(70px);
        background-size: contain;
      }
      &.truefriend {
        width: rem(144px);
        background-size: contain;
      }
      &.ki {
        width: rem(86px);
        background-size: contain;
      }
      &.mirae {
        width: rem(135px);
        background-size: contain;
      }
      &.kt {
        width: rem(32px);
        background-size: contain;
      }
      &.wu {
        width: rem(132px);
        background-size: contain;
      }
      &.uway {
        width: rem(60px);
        background-size: contain;
      }
      &.eximbank {
        background-size: contain;
      }
      &.iremit {
        background-size: contain;
      }
      &.nsb {
        background-size: contain;
      }
    }
  }

  // Box
  .box {
    &--gradient {
      border-radius: 1rem;
      background-image: linear-gradient(145deg, #363ef8 5%, #6119ec 92%);
      &__content {
        align-items: flex-start;
        padding: 3.1429rem 0.7143rem 2.2857rem 0.7143rem;
      }
      .main-title {
        text-align: left;
        &__wrap {
          margin-bottom: 2.25rem;
        }
        &--txt {
          margin: 0.5rem 0 0 0;
          text-align: left;
        }
      }
    }
  }

  .white-border-box {
    margin-top: 0.5714rem;
    padding: 0.7143rem;
    border-radius: 1rem;
    &__txt {
      font-size: 0.8571rem;
      line-height: 1.4286rem;
    }
  }

  // 공지사항, 소개 및 신청
  .info-intro-link {
    flex-wrap: wrap;
    .main-notice {
      width: 100%;
    }
    .button {
      width: 100%;
      margin-top: 1.625rem;
      &:first-child {
        display: none;
      }
      &:last-child {
        .button__txt--desc {
          display: none;
        }
      }
      &__content {
        padding: 0.75rem 1.375rem;
      }
      &__txt {
        font-size: rem(18px);
        line-height: rem(30px);
        &__wrap {
          margin-top: 0.5rem;
        }
      }
      &__ico {
        width: rem(48px);
        height: rem(48px);
        margin: 0 rem(16px) 0 0;
      }
    }
  }
  .download-wrap {
    width: 100%;
  }
}
