@charset "utf-8";

/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

/* ----------------------------------------------
	초기화
---------------------------------------------- */

@media (min-width: 1280px) {
  .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 78.75rem;
    padding: 0px;
  }
}

.container-fluid {
  &:after {
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    font-size:0;
    content:".";
  }
}

.top-right-fixed-wrap {
  position: fixed;
  top: 2.4812rem;
  right: 3.25rem;
  a {
    display: block;
    margin-top: 1.0438rem;
    padding: 1.25rem 1.0625rem;
    border-radius: 0.625rem;
    font-family: NanumSquareB;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: #ffffff;
  }
  .btn--login {
    background-image: linear-gradient(
      144deg,
      #4c53ff 22%,
      #2927f4 63%,
      #0a00eb 100%
    );
    &:before {
      display: block;
      width: 4.375rem;
      height: 1.0625rem;
      margin: 0 auto 1.25rem auto;
      background-position: 0 0;
      background-size: cover;
      background-image: url(../../images/renewal/logo-hanbiz-2@3x.png);
      background-repeat: no-repeat;
      content: "";
    }
  }
  .btn--primary {
    padding: 20px 17px;
    border-radius: 10px;
    background-color: #0921a2;
  }
}

// #top-btn {
// }

// 메인 비주얼
.main-visual {
  background-position: calc(-100% + 29.375rem) 0; // 470
  background-size: contain;
  background-image: url(../../images/renewal/main-visual-01@2x.png);
  background-repeat: no-repeat;
  background-color: #1e4ba3;
  .swiper-container {
    width: 69%; // 1398 87.375
    height: 37.5rem; // 600
  }
  div[class*="main-visual-bg"] {
    width: 28.75rem;
    height: 37.5rem;
  }
  .caption {
    left: 32.75rem;
    transform: translate(0, -50%);
    h1 {
      width: 5rem;
      height: 1.2125rem;
      margin-bottom: 2.4375rem;
      font-size: 0;
      background-position: 0 0;
      background-size: cover;
      background-image: url(../../images/renewal/logo-hanbiz-2@3x.png);
      background-repeat: no-repeat;
    }
    strong {
      font-size: 3.75rem;
      line-height: 4.625rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  .main-visual {
    &-bg-01 {
      background-position: 0 50%;
      background-image: url(../../images/renewal/main-visual-01-01@3x.png);
      background-repeat: no-repeat;
    }
  }
  .carousel-indicators {
    margin-bottom: 5.25rem;
  }
}

.main-nav {
  font-size: 1.25rem;
  li {
    margin-top: 1.3125rem;
    span {
      display: block;
      font-family: NanumSquareB;
      font-size: 1.25rem;
      color: #000;
    }
    &.active {
      border-bottom: 1px solid #000;
    }
  }
}

.section {
  .nav {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    min-width: 0;
    height: calc(100vh - 95px);
    margin-left: -182px;
    word-wrap: break-word;
    background-clip: border-box;
    transition: all 1s ease 0s;
    > ul {
      > li {
        padding: 0px;
        text-align: left;
      }
    }
    .active {
      span {
        text-decoration: underline;
      }
    }
  }
}
.navigaion {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  min-width: 0;
  // width: 314px;
  // height: calc(100vh - 95px);
  word-wrap: break-word;
  background-clip: border-box;
  transition: all 1s ease 0s;
}

.content {
  // width: calc(100% - 314px);
  height: calc(100vh - 95px);
  overflow: hidden;
  // opacity: 0;
  transition: 1s;
}

.float

.main-conts {
  &-02 {
    background-size: cover;
    background-image: url(../../images/renewal/bg-img@3x.png);
  }
  &-03 {
    background-size: cover;
    // background-image: url(../../images/renewal/bg-img@3x.png);
    opacity: .48;
    background-color: #12134b;
    .main-title {
      &--sub {
        color: #ffffff;
      }
      &--mid {
        color: #ffffff;
      }
    }
    .nav {
      margin-top: calc(-95px / 2);
      ul {
        margin-top: 0;
      }
    }
    ul {
      > li {
        > span {
          color: #ffffff;
        }
        > strong {
          color: #6effdf;
        }
      }
    }
  }
  &-04 {
    .main-content {
      img {
        width: 503px;
        margin-top: -17rem;
        margin-left: 51rem;
        width: 27.3125rem;
        height: auto;
      }
    }
    .float-right {
      flex-direction: column !important;
      width: 100%;
      height: auto;
    }
  }
  &-05 {}
  &-06 {
    background-color: #1e4ba3;

    .card {
      background-color: transparent;
    }

    .main-title {
      color: #ffffff;
      &--txt {
        color: #ffffff;
      }
    }
  }
}

.card {
  &-wrap {
    display: flex;
    align-items: center;
    &.column {
      flex-flow: column wrap;
      align-items: stretch;
      .card-item {
        margin: 1.5rem 0 0 0;
      }
    }
    &.business-card {
      .card-item {
        border-radius: 0;
        box-shadow: none;
      }
      .card-content {
        flex-flow: row nowrap;
        align-items: center;
        height: 9.3125rem;
        padding: 0.7375rem 2.425rem 0.7375rem 2.425rem;
      }
      .card-img {
        width: auto;
        max-width: 19.375rem;
        height: auto;
        max-height: 7.875rem;
      }
      .card-txt {
        margin-left: 2.1875rem;
        font-family: NanumSquareR;
        font-size: 1.225rem;
        line-height: 1.57;
        color: #292929;
      }
    }
    &.ci-banner {
      flex-wrap: wrap;
      justify-content: space-between;
      .card-item {
        flex: unset;
        width: 13.05rem;
        margin-left: 0;
        border-radius: 0;
        box-shadow: none;
      }
      .card-content {
        align-items: center;
        height: 2.85rem;
        padding: 0;
      }
      .card-img {
        width: auto;
        height: inherit;
      }
    }
    &.count {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      .card-item {
        flex: unset;
        max-width: 25.875rem;
        margin-left: 0;
        &:before {
          position: absolute;
          top: -1.75rem;
          left: 50%;
          transform: translateX(-50%);
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 9999px;
          line-height: 3.5rem;
          text-align: center;
          color: #ffffff;
          background-color: #1632d2;
          content: "01";
        }
      }
      .card-title {
        margin-bottom: 0.6875rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
        text-align: center;
      }
      .card-txt {
        font-family: S-CoreDream-4;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: center;
        color: #353535;
      }
    }
    &.bay-tree {
      flex-flow: row nowrap;
      align-items: stretch;
      overflow-x: auto;
      .card-item {
        min-width: 242px;
        display: flex;
        margin-left: 13px;
        &:first-child {
          margin-left: 0;
        }
        &:before {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          width: 42px;
          height: 62px;
          background-size: 42px;
          background-image: url(../../images/renewal/img-licence-open@3x.png);
          background-repeat: no-repeat;
          content: "";
        }
        &:after {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 42px;
          height: 62px;
          background-size: 42px;
          background-image: url(../../images/renewal/img-licence-close@3x.png);
          background-repeat: no-repeat;
          content: "";
        }
      }
      .card-content {
        flex: 1;
        align-items: center;
        padding: 30px 62px 20px 62px;
      }
      .card-title {
        display: inline-flex;
        align-items: center;
        min-height: 68px;
        font-family: NanumSquareB;
        text-align: center;
        line-height: 1.31;
        font-size: 24px;
        color: #00051f;
      }
      .card-txt {
        margin-top: auto;
        text-align: center;
      }
    }
  }
  &-item {
    flex: 1;
    position: relative;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    &:first-child {
      margin-left: 0;
    }
  }
  &-content {
    display: flex;
    flex-flow: column wrap;
    padding: 48px 26px 16px 26px;
  }
  &-img {
    width: 103px;
    height: 103px;
  }
  &-title {
    font-size: 20px;
    color: #1632d2;
  }
  &-txt {
    font-size: 14px;
    color: #353535;
  }
}

.box {
  &--gradient {
    border-radius: 28px;
    background-image: linear-gradient(115deg, #363ef8 4%, #6119ec 92%);
    &__content {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 6.9375rem 6.4375rem 6.4375rem;
    }
    .main-title {
      color: #ffffff;
      &__wrap {
        margin-bottom: 3.0625rem;
      }
      &--txt {
        color: #ffffff;
      }
    }
  }
}

/* layout */

.main-conts-04 {
  background-position: 0 0;
  background-size: cover;
  background-image: url();
  background-repeat: no-repeat;
}

.white-border-box {
  margin-top: 14px;
  padding: 10px 46px 6px 46px;
  border-radius: 28px;
  text-align: center;
  background-color: #ffffff;
  &:first-child {
    margin-top: 0;
  }
  &__txt {
    font-family: NanumSquareB;
    font-size: 22px;
    line-height: 1.82;
    color: #292929;
  }
}

// Main
.main-title {
  display: block;
  font-family: S-CoreDream-7;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 4.0625rem;
  color: #353535;
  &__wrap {
    // flex: none;
    // display: flex;
    // flex-flow: column wrap;
    // align-items: flex-start;
    // min-width: 414px;
    // margin-right: 60px;

    &.center {
      align-items: center;
      .magin-title {
        text-align: center;
        &--sub {
          text-align: center;
        }
        &--txt {
          text-align: center;
        }
      }
    }
  }
  &--mid {
    display: block;
    font-size: 30px;
  }
  &--sub {
    display: block;
    margin: 0 0 18px 0;
    font-family: S-CoreDream-5;
    font-size: 22px;
    font-weight: 500;
    line-height: 3.36;
    color: #353535;
  }
  &--txt {
    display: block;
    margin: 70px 0 0 0;
    font-family: S-CoreDream-5;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    color: #353535;
  }
}

.main-notice {
  &__wrap {
    display: flex;
    flex-flow: column wrap;
    // width: 38.6875rem;
  }
  &__title {
    font-size: 2.75rem;
    &__wrap {
      display: flex;
      align-items: flex-end;
      padding-bottom: 1.125rem;
      border-bottom: 1px solid rgba(86, 86, 86, 0.2);
      a {
        flex: none;
        margin-left: auto;
      }
    }
  }
  &__list {
    display: flex;
    flex-flow: column wrap;
  }
  &__item {
    flex: 1;
    border-bottom: 1px solid rgba(86, 86, 86, 0.2);
  }
  &__content {
    display: flex;
    align-items: center;
    padding: 1.9375rem 0 1.8125rem 0;
    &__title {
      font-family: NanumSquareR;
      font-size: 18px;
      color: #353535;
    }
    &__date {
      flex: none;
      margin-left: auto;
      font-family: NanumSquareR;
      font-size: 16px;
      color: #353535;
    }
  }
}

.button {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.02);
  &__content {
    display: flex;
    padding: 16px 42px;
    border: 1px solid #e0e0e0;
  }
  &__ico {
    width: 60px;
    height: 60px;
    margin: 0 23px 0 0;
    font-size: 0;
    text-indent: -9999px;
    &.download {
      background-size: cover;
      background-image: url(../../images/renewal/btn-downfile@3x.png);
      background-repeat: no-repeat;
    }
  }
  &__txt {
    font-family: NanumSquareB;
    font-size: 18px;
    line-height: 1.71;
    color: #292929;
    &__wrap {
      margin-top: 0.9062rem;
      text-align: left;
    }
    &--desc {
      display: block;
      margin-top: 0.4625rem;
      font-size: 16px;
      line-height: 1.31;
      color: #353535;
    }
  }
}

.footer {
  padding: 0;
  &__header {
    display: flex;
    align-items: center;
    padding: 15px 0 20px 0;
    // opacity: 0.76;
    background-color: #0c0c0c;
  }
  &__link {
    margin-left: 51px;
    font-family: NanumSquareB;
    font-size: 16px;
    color: #e8e6e8;
    &:first-child {
      margin-left: 0;
    }
  }
  &__dropdown {
    flex: none;
    margin-left: auto;
  }
  .button {
    &.dropdown-toggle {
      width: 100%;
      height: 3.75rem;
      border-radius: 0.8125rem;
      font-family: "Apple SD Gothic Neo";
      font-size: 1.125rem;
      font-weight: bold;
      color: #ffffff;
      background-position: 100% 50%;
      background-size: 1.1875rem;
      background-image: url(../images/ico-outlinkopen-21x22-3x.png);
      background-repeat: no-repeat;
      &:focus,
      &:active {
        background-image: url(../images/ico-outlinkclose-19x20-3x.png);
      }
    }
  }
  &__container {
    padding: 3.75rem 0 8.375rem 0;
    opacity: 0.76;
    background-color: #0c0c0c;
  }
}

.row {
  .card-wrap {
    margin-left: 1.75rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .section {
    .nav {
      height: unset;
    }
  }

  .main-conts {
    &-02 {
      background-color: #f5f9fc;
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
    }
    &-04 {
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
      img {
        width: 10.1786rem;
      }
    }
    &-05 {
      background-color: #f7f7f7;
      .card {
        &-item {
          box-shadow: none;
        }
      }
    }
    &-06 {
      background-color: #1e4ba3;
      .float-right {
        flex-direction: column !important;
        width: 100%;
        height: auto;
      }
      .main-title {
        color: #ffffff;
        &--txt {
          color: #ffffff;
        }
      }
    }
  }

  // Main
  .main-title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    // &__wrap {
    // }
    &--mid {
      font-size: 1.7142rem;
      line-height: 2.1428rem;
    }
    &--sub {
      margin: 0 0 0.75rem 0;
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
    &--txt {
      margin: 1.375rem 0 0 0;
      // font-size: 0.875rem;
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }

  // Card
  .card {
    &-wrap {
      &.column {
        flex-flow: column wrap;
        align-items: stretch;
        .card-item {
          margin: 1.5rem 0 0 0;
        }
        .card-content {
          padding: 2.1428rem 0.625rem 2.375rem 0.625rem;
        }
        .card-img {
          width: 3.5rem;
          height: 3.5rem;
        }
        .card-title {}
        .card-txt {}
      }
      &.business-card {
        flex-flow: row nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        .card-item {
          margin: 0 0 0 1.5rem;
          &:first-child {
            margin: 0;
          }
        }
        .card-content {
          flex-flow: column wrap;
          justify-content: space-between;
          align-items: flex-start;
          width: 14.0625rem;
          height: 8.9375rem;
          padding: 1.0625rem 2.125rem 1.1875rem 1.0625rem;
        }
        .card-img {
          width: auto;
          max-width: auto;
          height: auto;
          max-height: 2.875rem;
        }
        .card-txt {
          margin: 0;
          font-size: 0.75rem;
          line-height: 1.25rem;
        }
      }
      &.count {
        .card-item {
          margin: 3.9687rem 0 0 0;
          &:first-child {
            margin: 0;
          }
        }
        .card-content {
          padding: 2.3571rem 0.7142rem 1rem 0.7142rem;
        }
        .card-title {
          margin-bottom: 1.1571rem;
        }
        .card-txt {
          font-size: 0.8571rem;
          line-height: 1.4286rem;
        }
      }
    }
  }

  // Box
  .box {
    &--gradient {
      border-radius: 1rem;
      background-image: linear-gradient(145deg, #363ef8 5%, #6119ec 92%);
      &__content {
        padding: 3.1429rem 0.7143rem 2.2857rem 0.7143rem;
      }
      .main-title {
        &__wrap {
          margin-bottom: 2.5714rem;
        }
        &--txt {
          font-size: 1rem;
          line-height: 1.5714rem;
        }
      }
    }
  }

  .white-border-box {
    margin-top: 0.5714rem;
    padding: 0.7143rem;
    border-radius: 1rem;
    &__txt {
      font-size: 0.8571rem;
      line-height: 1.4285rem;
    }
  }
}
