@charset "utf-8";

/* ----------------------------------------------
	가입문의
---------------------------------------------- */
.sub-visual {
  &.membership {
    height: 28rem;
    .sub-visual-bg {
      height: 100%;
      width: auto;
    }
    .container-fluid {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      h2 {
        margin-bottom: 1.813rem;
        font-family: S-Core;
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 1.48;
        color: #fff;
      }
      p {
        font-size: 1.25rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
// 전화문의, 메일문의
.sub-cont-membership-inquiry-01 {
  margin: 6.25rem 0 6.5rem;
  .membership-inquiry-info {
    > li {
      display: inline-block;
      padding: 2.438rem 4.5rem 4.313rem;
      width: 32.125rem;
      height: 13.75rem;
      box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.5);
      & + li {
        margin-left: 1.188rem;
      }
      span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 2.5;
        color: #fff;
      }
      p {
        text-align: left;
        font-weight: bold;
        color: #fff;
      }
      &:first-child {
        background-color: #363ef8;
        p {
          margin-top: 0.688rem;
          font-size: 3rem;
        }
      }
      &:nth-child(2) {
        background-color: #0921a2;
        p {
          margin-top: 1.313rem;
          font-size: 2.25rem;
        }
      }
    }
  }
}
// 한비즈 서비스 진행 절차
.sub-cont-membership-inquiry-02 {
  margin-bottom: 8.875rem;
  .tit {
    margin-bottom: 8.5rem;
    text-align: center;
    font-family: S-Core;
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.48;
    color: #353535;
  }
  .service-process {
    flex-wrap: wrap;
    > li {
      position: relative;
      width: 33.3%;
      height: rem(402px);
      padding-left: rem(88px); // 68 + 20
      counter-increment: service-process;
      strong {
        display: flex;
        align-items: center;
        min-height: 4.25rem;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.5;
        color: #292929;
        & + p {
          margin-top: 0.5rem;
        }
      }
      p {
        display: block;
        min-height: 4.625rem;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #292929;
      }
      .service-process-img {
        display: block;
        height: auto;
        margin-top: 1.25rem;
        &.join {
          width: rem(252px);
        }
        &.consulting {
          width: rem(225px);
        }
        &.add {
          width: rem(107px);
        }
        &.screening {
          width: rem(150px);
        }
        &.completed {
          width: rem(209px);
        }
        &.sendmoney {
          width: rem(220px);
        }
      }
      &:before {
        position: absolute;
        left: 0;
        display: block;
        width: 4.25rem;
        height: 4.25rem;
        padding-top: 2px;
        border-radius: 50%;
        background-color: #1e4ba3;
        font-size: 2.625rem;
        font-weight: 800;
        text-align: center;
        line-height: 4.25rem;
        color: #fff;
        content: counter(service-process);
      }
    }
  }
}

.sub-cont-membership-inquiry-03 {
  h2.tit {
    padding-bottom: 38px;
    font-weight: bold;
  }
  .form-group-container {
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    .form-group-wrap {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
      border-bottom: 1px solid #d0d0d0;
      .form-group {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 12px 0;
        margin: 0;
        .tit {
          width: 142px;
          margin: 0;
          font-weight: bold;
          font-size: rem(18px);
        }
        .input-group {
          width: 340px;
        }
      }
      &.column {
        flex-flow: column wrap;
        .input-group {
          width: 638px;
          textarea {
            height: 240px;
            resize: none;
          }
        }
      }
    }
    & + .card {
      border-top: none;
    }
  }
  .card {
    border-top: 2px solid #18191a;
    border-bottom: 2px solid #18191a;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    .collapse + .card-header {
      border-top: 2px solid #18191a;
    }
    .card-header {
      position: relative;
      // min-height: 70px;
      border-radius: 0;
      padding: rem(18px) 0;
      border: 0;
      h5 {
        font-size: rem(18px);
        color: #18191a;
        font-weight: bold;
      }
      .icon {
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        cursor: pointer;
      }
      &.collapsed .icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .card-body {
      padding: 27px 52px;
      background: rgba(38, 38, 38, 0.03);
      .info-cont {
        text-align: left;
        font-size: rem(14px);
        color: #262626;
      }
    }
  }
  .btns-box {
    display: flex;
    justify-content: center;
    padding: 80px 0 220px;
    .btn-primary {
      &.btn-lg {
        width: 320px;
        padding: 32px;
        font-family: "NanumSquare";
        text-align: center;
        background-color: #146fd3;
        border-radius: 16px;
      }
    }
  }
  .sub-text-wrap {
    display: flex;
    padding-bottom: 12px;
    .sub-text {
      margin-left: auto;
      font-size: 14px;
      color: #ababab;
    }
  }
}

.form-control {
  &.large {
  }
}

// 미디어 쿼리

// tablet
@media (max-width: 767.98px) {
  .sub-visual {
    &.membership {
      height: 198px;
      .container-fluid {
        h2 {
          height: 65px;
          margin-bottom: 0;
          font-size: 34px;
        }
        p {
          text-align: center;
          font-size: 13px;
          font-weight: 500;
          line-height: 1.54;
        }
      }
    }
  }
  .sub-cont-membership-inquiry-01 {
    margin: 26px 0 52px;
    .membership-inquiry-info {
      width: 100%;
      max-width: 360px;
      > li {
        padding: 14px 0 12px;
        width: calc(50% - 5px);
        height: 66px;
        & + li {
          margin-left: 0;
        }
        span {
          font-size: 10px;
          line-height: 2;
        }
        p {
          text-align: center;
        }
        &:first-child {
          margin-right: 5px;
          p {
            margin-top: 3px;
            font-size: 12px;
          }
        }
        &:nth-child(2) {
          margin-left: 5px;
          p {
            margin-top: 3px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .sub-cont-membership-inquiry-02 {
    margin-bottom: 50px;
    .tit {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 2.71;
    }
    .service-process {
      & > li {
        width: 50%;
        height: 130px;
        padding-left: 32px;
        strong {
          min-height: 26px;
          font-size: 12px;
          line-height: 1.25;
          & + p {
            margin-top: 6px;
          }
        }
        p {
          min-height: 30px;
          font-size: 9px;
          line-height: 1.43;
        }
        .service-process-img {
          margin-top: 3px;
          &.join {
            width: rem(62px);
          }
          &.consulting {
            width: rem(70px);
          }
          &.add {
            width: rem(32px);
          }
          &.screening {
            width: rem(45px);
          }
          &.completed {
            width: rem(50px);
          }
          &.sendmoney {
            width: rem(65px);
          }
        }
        &:before {
          width: 26px;
          height: 26px;
          font-size: 10px;
          line-height: 24px;
        }
      }
    }
  }
  .sub-cont-membership-inquiry-03 {
    h2.tit {
      padding-bottom: 6px;
      font-size: 24px;
      line-height: 1.67;
    }
    .form-group-container {
      .form-group-wrap {
        flex-flow: column wrap;
        border-bottom: none;
        .form-group {
          flex-direction: column;
          padding: 8px 0;
          .tit {
            width: 100%;
            margin-bottom: 8px;
            font-size: rem(16px);
          }
          .input-group {
            width: 100%;
          }
        }
        &.column {
          .input-group {
            width: 100%;
            textarea {
              height: 160px;
            }
          }
        }
        &:first-child {
          .form-group {
            &:first-child {
              padding-top: 24px;
            }
          }
        }
        &:last-child {
          .form-group {
            &:last-child {
              padding-bottom: 24px;
            }
          }
        }
      }
    }
    .sub-text-wrap {
      padding-bottom: 8px;
    }
    .card {
      .card-body {
        padding: 17px 17px 30px 17px;
      }
    }
    .btns-box {
      padding: 50px 0 80px;
      .btn-primary {
        &.btn-lg {
          width: 100%;
          padding: 16px 32px;
        }
      }
    }
  }
}
@media (max-width: 767.98px) {
}
