@charset "utf-8";

/* ----------------------------------------------
	가입문의
---------------------------------------------- */
.sub-visual {
  &.membership {
    height: 28rem;
    .sub-visual-bg {
      height: 100%;
      width: auto;
    }
    .container-fluid {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      h2 {
        margin-bottom: 1.813rem;
        font-family: S-Core;
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 1.48;
        color: #fff;
      }
      p {
        font-size: 1.25rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
// 전화문의, 메일문의
.sub-cont-membership-inquiry-01 {
  margin: 6.25rem 0 6.5rem;
  .membership-inquiry-info {
    > li {
      display: inline-block;
      padding: 2.438rem 4.5rem 4.313rem;
      width: 32.125rem;
      height: 13.75rem;
      box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.5);
      & + li {
        margin-left: 1.188rem;
      }
      span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 2.5;
        color: #fff;
      }
      p {
        text-align: left;
        font-weight: bold;
        color: #fff;
      }
      &:first-child {
        background-color: #363ef8;
        p {
          margin-top: 0.688rem;
          font-size: 3rem;
        }
      }
      &:nth-child(2) {
        background-color: #0921a2;
        p {
          margin-top: 1.313rem;
          font-size: 2.25rem;
        }
      }
    }
  }
}
// 한비즈 서비스 진행 절차
.sub-cont-membership-inquiry-02 {
  margin-bottom: 8.875rem;
  .tit {
    margin-bottom: 8.5rem;
    text-align: center;
    font-family: S-Core;
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.48;
    color: #353535;
  }
  .service-process {
    flex-wrap: wrap;
    > li {
      position: relative;
      width: 33.3%;
      height: rem(402px);
      padding-left: rem(88px); // 68 + 20
      counter-increment: service-process;
      strong {
        display: flex;
        align-items: center;
        min-height: 4.25rem;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.5;
        color: #292929;
        & + p {
          margin-top: 0.5rem;
        }
      }
      p {
        display: block;
        min-height: 4.625rem;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #292929;
      }
      .service-process-img {
        display: block;
        height: auto;
        margin-top: 1.25rem;
        &.join {
          width: rem(252px);
        }
        &.consulting {
          width: rem(225px);
        }
        &.add {
          width: rem(107px);
        }
        &.screening {
          width: rem(150px);
        }
        &.completed {
          width: rem(209px);
        }
        &.sendmoney {
          width: rem(220px);
        }
      }
      &:before {
        position: absolute;
        left: 0;
        display: block;
        width: 4.25rem;
        height: 4.25rem;
        padding-top: 2px;
        border-radius: 50%;
        background-color: #1e4ba3;
        font-size: 2.625rem;
        font-weight: 800;
        text-align: center;
        line-height: 4.25rem;
        color: #fff;
        content: counter(service-process);
      }
    }
  }
}

.sub-cont-membership-inquiry-03 {
  h2.tit {
    padding-bottom: 38px;
    font-weight: bold;
  }
  .form-group-container {
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    .form-group-wrap {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
      border-bottom: 1px solid #d0d0d0;
      .form-group {
        display: flex;
        align-items: center;
        flex: 1;
        padding: 12px 0;
        margin: 0;
        .tit {
          width: 142px;
          margin: 0;
          font-weight: bold;
          font-size: rem(18px);
        }
        .input-group {
          width: 340px;
        }
      }
      &.column {
        flex-flow: column wrap;
        .input-group {
          width: 638px;
          textarea {
            height: 240px;
            resize: none;
          }
        }
      }
    }
    & + .card {
      border-top: none;
    }
  }
  .card {
    border-top: 2px solid #18191a;
    border-bottom: 2px solid #18191a;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    .collapse + .card-header {
      border-top: 2px solid #18191a;
    }
    .card-header {
      position: relative;
      // min-height: 70px;
      border-radius: 0;
      padding: rem(18px) 0;
      border: 0;
      h5 {
        font-size: rem(18px);
        color: #18191a;
        font-weight: bold;
      }
      .icon {
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        cursor: pointer;
      }
      &.collapsed .icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .card-body {
      padding: 27px 52px;
      background: rgba(38, 38, 38, 0.03);
      .info-cont {
        text-align: left;
        font-size: rem(14px);
        color: #262626;
      }
    }
  }
  .btns-box {
    display: flex;
    justify-content: center;
    padding: 80px 0 220px;
    .btn-primary {
      &.btn-lg {
        width: 320px;
        padding: 32px;
        font-family: "NanumSquare";
        text-align: center;
        background-color: #146fd3;
        border-radius: 16px;
      }
    }
  }
  .sub-text-wrap {
    display: flex;
    padding-bottom: 12px;
    .sub-text {
      margin-left: auto;
      font-size: 14px;
      color: #ababab;
    }
  }
}

.form-control {
  &.large {
  }
}
