@charset "utf-8";

/* ----------------------------------------------
	가입문의
---------------------------------------------- */

// 추후 이동 예정
.ui-checkbox {
  width: rem(34px);
  height: rem(34px);
}
.input-group {
  & > .form-control {
    &:not(:last-child) {
      border-top-right-radius: 0.3125rem;
      border-bottom-right-radius: 0.3125rem;
    }
    &.has-clear {
      padding-right: rem(50px);
    }
  }
  .btn-delete {
    position: absolute;
    top: 50%;
    right: rem(18px);
    transform: translateY(-50%);
    z-index: 10; // 3이하면 input의 인덱스가 더 높음
    //&.form-control-clear {
    //  display: none;
    //}
  }
}
.btn-delete {
  width: rem(24px);
  height: rem(24px);
  font-size: 0;
  background: url(../images/renewal/ico-del@3x.png) no-repeat center center;
  background-size: 100%;
}

.sub-visual {
  &.membership {
    height: 28rem;
    .sub-visual-bg {
      height: 100%;
      width: auto;
    }
    .container-fluid {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100%;
      h2 {
        margin-bottom: 1.813rem;
        font-family: S-Core;
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 1.48;
        color: #fff;
      }
      p {
        font-size: 1.25rem;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
// 전화문의, 메일문의
.sub-cont-membership-inquiry-01 {
  margin: 6.25rem 0 6.5rem;
  .membership-inquiry-info {
    > li {
      display: inline-block;
      padding: 2.438rem 4.5rem 4.313rem;
      width: 32.125rem;
      height: 13.75rem;
      box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.5);
      & + li {
        margin-left: 1.188rem;
      }
      span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 1.375rem;
        font-weight: bold;
        line-height: 2.5;
        color: #fff;
      }
      p {
        text-align: left;
        font-weight: bold;
        color: #fff;
      }
      &:first-child {
        background-color: #363ef8;
        p {
          margin-top: 0.688rem;
          font-size: 3rem;
        }
      }
      &:nth-child(2) {
        background-color: #0921a2;
        p {
          margin-top: 1.313rem;
          font-size: 2.25rem;
        }
      }
    }
  }
}
// 한비즈 서비스 진행 절차
.sub-cont-membership-inquiry-02 {
  margin-bottom: 8.875rem;
  .tit {
    margin-bottom: 8.5rem;
    text-align: center;
    font-family: S-Core;
    font-size: 2.75rem;
    font-weight: bold;
    line-height: 1.48;
    color: #353535;
  }
  .service-process {
    flex-wrap: wrap;
    > li {
      position: relative;
      width: 33.3%;
      height: rem(402px);
      padding-left: rem(88px); // 68 + 20
      counter-increment: service-process;
      strong {
        display: flex;
        align-items: center;
        min-height: 4.25rem;
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1.5;
        color: #292929;
        & + p {
          margin-top: 0.5rem;
        }
      }
      p {
        display: block;
        min-height: 4.625rem;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #292929;
      }
      .service-process-img {
        display: block;
        height: auto;
        margin-top: 1.25rem;
        &.join {
          width: rem(252px);
        }
        &.consulting {
          width: rem(225px);
        }
        &.add {
          width: rem(107px);
        }
        &.screening {
          width: rem(150px);
        }
        &.completed {
          width: rem(209px);
        }
        &.sendmoney {
          width: rem(220px);
        }
      }
      &:before {
        position: absolute;
        left: 0;
        display: block;
        width: 4.25rem;
        height: 4.25rem;
        padding-top: 2px;
        border-radius: 50%;
        background-color: #1e4ba3;
        font-size: 2.625rem;
        font-weight: 800;
        text-align: center;
        line-height: 4.25rem;
        color: #fff;
        content: counter(service-process);
      }
    }
  }
}

.sub-cont-membership-inquiry-03 {
  h2.tit {
    padding-bottom: 38px;
    font-weight: bold;
  }
  .form-group-container {
    border-top: 2px solid #353535;
    border-bottom: 2px solid #353535;
    .form-group-wrap {
      display: flex;
      flex-flow: row wrap;
      margin: 0;
      border-bottom: 1px solid #d0d0d0;
      .form-group {
        display: flex;
        align-items: center;
        flex: 1;
        padding: rem(12px) 0;
        margin: 0;
        .tit {
          width: rem(142px);
          margin: 0;
          font-weight: bold;
          font-size: rem(18px);
        }
        .input-group {
          width: rem(340px);
        }
      }
      &.column {
        flex-flow: column wrap;
        .input-group {
          width: rem(638px);
          textarea {
            height: rem(240px);
            resize: none;
          }
        }
      }
    }
    & + .card {
      border-top: none;
    }
  }
  .card {
    border-top: 2px solid #18191a;
    border-bottom: 2px solid #18191a;
    .icon {
      position: absolute;
      top: 0;
      right: 0;
    }
    .collapse + .card-header {
      border-top: 2px solid #18191a;
    }
    .card-header {
      position: relative;
      // min-height: 70px;
      border-radius: 0;
      padding: rem(18px) 0;
      border: 0;
      .card-header-title {
        display: flex;
        align-items: center;
        .ui-checkbox-label {
          margin: 0;
          padding-left: rem(18px);
          font-size: rem(18px);
          color: #18191a;
          font-weight: bold;
        }
        .icon {
          width: rem(40px);
          height: rem(40px);
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
          cursor: pointer;
        }
      }
      &.collapsed {
        .card-header-title {
          .icon {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
    .card-body {
      padding: rem(27px) rem(52px);
      background: rgba(38, 38, 38, 0.03);
      .info-cont {
        text-align: left;
        font-size: rem(14px);
        color: #262626;
      }
    }
  }
  .btns-box {
    display: flex;
    justify-content: center;
    padding: rem(80px) 0 rem(220px);
    .btn-primary {
      &.btn-lg {
        width: rem(320px);
        padding: rem(32px);
        font-family: "NanumSquare";
        text-align: center;
        background-color: #146fd3;
        border-radius: 16px;
      }
    }
  }
  .sub-text-wrap {
    display: flex;
    padding-bottom: rem(12px);
    .sub-text {
      margin-left: auto;
      font-size: rem(14px);
      color: #ababab;
    }
  }
}

// 미디어 쿼리
// mobile
@media (max-width: 767.98px) {
  .sub-visual {
    &.membership {
      height: rem(198px);
      .container-fluid {
        h2 {
          height: rem(65px);
          margin-bottom: 0;
          font-size: rem(34px);
        }
        p {
          text-align: center;
          font-size: rem(13px);
          font-weight: 500;
          line-height: 1.54;
        }
      }
    }
  }
  .sub-cont-membership-inquiry-01 {
    margin: rem(26px) 0 rem(52px);
    .membership-inquiry-info {
      width: 100%;
      max-width: rem(360px);
      > li {
        padding: rem(14px) 0 rem(12px);
        width: calc(50% - 5px);
        height: rem(66px);
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.5);
        & + li {
          margin-left: 0;
        }
        span {
          font-size: rem(12px); //10
          line-height: 2;
        }
        p {
          text-align: center;
        }
        &:first-child {
          margin-right: rem(4px);
          p {
            margin-top: rem(4px);
            font-size: rem(12px);
          }
        }
        &:nth-child(2) {
          margin-left: rem(5px);
          p {
            margin-top: rem(4px);
            font-size: rem(12px);
          }
        }
      }
    }
  }
  .sub-cont-membership-inquiry-02 {
    margin-bottom: rem(50px);
    .tit {
      margin-bottom: rem(8px);
      font-size: rem(24px);
      line-height: 2.71;
    }
    .service-process {
      & > li {
        width: 50%;
        height: rem(130px);
        padding-left: rem(32px);
        strong {
          min-height: rem(28px);
          font-size: rem(12px);
          line-height: 1.25;
          & + p {
            margin-top: rem(6px);
          }
        }
        p {
          min-height: rem(30px);
          font-size: rem(12px); // 9
          line-height: 1.43;
        }
        .service-process-img {
          margin-top: 3px;
          &.join {
            width: rem(62px);
          }
          &.consulting {
            width: rem(70px);
          }
          &.add {
            width: rem(32px);
          }
          &.screening {
            width: rem(45px);
          }
          &.completed {
            width: rem(50px);
          }
          &.sendmoney {
            width: rem(65px);
          }
        }
        &:before {
          width: rem(26px);
          height: rem(26px);
          font-size: rem(10px);
          line-height: rem(24px);
        }
      }
    }
  }
  .sub-cont-membership-inquiry-03 {
    h2.tit {
      padding-bottom: rem(6px);
      font-size: rem(24px);
      line-height: 1.67;
    }
    .form-group-container {
      .form-group-wrap {
        flex-flow: column wrap;
        border-bottom: none;
        .form-group {
          flex-direction: column;
          padding: rem(8px) 0;
          .tit {
            width: 100%;
            margin-bottom: rem(8px);
            font-size: rem(16px);
          }
          .input-group {
            width: 100%;
          }
        }
        &.column {
          .input-group {
            width: 100%;
            textarea {
              height: rem(160px);
            }
          }
        }
        &:first-child {
          .form-group {
            &:first-child {
              padding-top: rem(24px);
            }
          }
        }
        &:last-child {
          .form-group {
            &:last-child {
              padding-bottom: rem(24px);
            }
          }
        }
      }
    }
    .sub-text-wrap {
      padding-bottom: rem(8px);
    }
    .card {
      .card-body {
        padding: rem(16px) rem(16px) rem(30px) rem(16px);
      }
    }
    .btns-box {
      padding: rem(50px) 0 rem(80px);
      .btn-primary {
        &.btn-lg {
          width: 100%;
          padding: rem(16px) rem(32px);
        }
      }
    }
  }
}
