.fullpage-wrapper {
  // min-width: 1580px;
  .section:not(.main-visual) .container-fluid {
    padding-top: rem(95px);
  }
}
.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1e4ba3;
  .swiper-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-slide * {
    transition: all 0.1s ease-out;
  }
  div[class*="main-visual-bg"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: calc(100% + 22.5rem) 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1e4ba3;
    opacity: 0;
  }
  div[class*="main-visual-img"] {
    flex: none;
    z-index: 1;
    width: 28.75rem;
    max-width: 30%;
    height: 37.5rem;
    max-height: 62.5%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e8eff8;
    opacity: 0;
  }
  &-bg-01 {
    background-image: url(../images/renewal/main-visual-01@2x.png);
  }
  &-img-01 {
    background-image: url(../../images/renewal/main-visual-01-01@3x.png);
  }
  &-bg-02 {
    background-image: url(../../images/renewal/main-visual-bg-02@3x.png);
  }
  &-img-02 {
    background-image: url(../../images/renewal/main-visual-02@3x.png);
  }
  .cont-box {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    width: rem(1398px);
    max-width: 72%;
    height: 100%;
    margin-left: rem(314px);
  }
  .caption {
    margin-left: rem(64px);
    color: #242424;
    .logo {
      width: 5rem;
      height: 1.2125rem;
      margin-bottom: 2.4375rem;
      font-size: 0;
      background-position: 0 0;
      background-size: cover;
      background-image: url(../images/renewal/logo-hanbiz-2@3x.png);
      background-repeat: no-repeat;
      opacity: 0;
    }
    strong {
      display: inline-block;
      margin-bottom: rem(80px);
      font-family: "S-Core";
      font-size: rem(60px);
      font-weight: 500;
      line-height: rem(74px);
    }
    strong > span {
      font-size: rem(77px);
    }
    p {
      margin: rem(12px) 0 0 0;
      font-family: "S-Core";
      font-size: rem(24px);
      font-weight: 400;
      line-height: rem(32px);
      color: #000000;
    }
    &.text-white,
    &.text-white > p {
      color: $white;
    }
    strong,
    p {
      opacity: 0;
      transition: opacity 1s ease-out;
      transition-delay: 0.5s;
    }
  }
  .swiper-slide-active.effect {
    // .main-visual-bg-line-01 {
    //   transform: scale(1);
    //   opacity: 1;
    //   transition: all 1.2s ease;
    //   transition-delay: 0.3s;
    // }
    // .main-visual-bg-currency-01 {
    //   left: 0 !important;
    //   right: 0 !important;
    //   transition: all 1.2s ease;
    //   transition-delay: 0.6s;
    // }
    // .main-visual-bg-obj-05 {
    //   -webkit-animation: 1.2s moveleft ease-out forwards;
    //   animation: 1.2s moveleft ease-out forwards;
    //   animation-delay: 0.1s;
    // }
    div[class*="main-visual-bg"] {
      // -webkit-animation: moveshow .6s .4s ease forwards;
      // animation: moveshow .6s .4s ease forwards;
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
    }
    div[class*="main-visual-img"] {
    }
    .main-visual-img-01,
    .main-visual-img-02 {
      -webkit-animation: moveshow 0.7s 0.5s ease forwards;
      animation: moveshow 0.7s 0.5s ease forwards;
      animation-delay: 0.2s;
    }
    .caption {
      .logo {
        -webkit-animation: 1.2s movetop ease-out forwards;
        animation: 1.2s movetop ease-out forwards;
        animation-delay: 0.2s;
      }
      strong {
        -webkit-animation: 1.2s movetop ease-out forwards;
        animation: 1.2s movetop ease-out forwards;
        animation-delay: 0.5s;
      }
      p {
        -webkit-animation: 1.2s movetop ease-out forwards;
        animation: 1.2s movetop ease-out forwards;
        animation-delay: 1s;
      }
    }
  }
  .carousel-indicators {
    position: unset;
    margin: 0;
    .swiper-pagination-current,
    .swiper-pagination-total {
      position: relative;
      font-family: "S-Core";
      font-size: rem(14px);
      font-weight: 700;
      line-height: rem(22px);
      color: #fff;
      &:before {
        content: "0";
      }
    }
    .swiper-pagination-total {
      padding-left: rem(16px);
      opacity: 0.6;
      &:after {
        position: absolute;
        left: 0;
        margin-left: rem(4px);
        content: "/";
      }
    }
  }
  .swiper-control-bar {
    position: absolute;
    bottom: rem(84px);
    margin-left: rem(838px); // 64 + 460 + 314
    width: rem(500px);
    display: flex;
    align-items: center;
    z-index: 9;
  }
  .carousel-control-prev,
  .carousel-control-next {
    position: unset;
    width: auto;
    opacity: unset;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: rem(10px);
    height: rem(22px);
    background-size: rem(10px);
    background-position: 50% 50%;
    background-image: url(../images/renewal/btn-prev@3x.png);
    background-repeat: no-repeat;
  }
  .carousel-control-next-icon {
    transform: rotate(-180deg);
  }
  .carousel-control-prev:hover,
  .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    opacity: 1;
  }
  .swiper-progress-bar {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 rem(20px);
    z-index: 1;
    height: 2px;
    .slide_progress-bar {
      position: absolute;
      height: 2px;
      background: rgba(255, 255, 255, 0.4);
      width: auto;
      clear: both;
      opacity: 0;
      left: 0;
      right: 0;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 100%;
        width: 0;
        content: "";
        transition: 0.1s width linear;
      }
    }
    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide_progress-bar {
        &:after {
          transition: width linear;
          transition-delay: unset;
          width: 100%;
          transition-duration: 5s;
        }
      }
    }
  }
  .swiper-pagination-fraction {
    margin-left: rem(30px);
  }
}

.left-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-width: 0;
  height: calc(100vh - 95px);
  margin-left: -11.25rem;
  word-wrap: break-word;
  background-clip: border-box;
  transition: all 1s ease 0s;
  ul {
    li {
      margin-bottom: rem(20px);
      padding: 0;
      text-align: left;
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        margin-bottom: rem(30px);
        span {
          font-size: rem(24px);
          text-decoration: underline;
          opacity: 1;
        }
      }
      span {
        font-size: rem(20px);
        font-weight: 700;
        color: #000;
        opacity: 0.41;
      }
    }
  }
}
.exchange-calc {
  // display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-640px, -50%);
  padding: rem(24px) rem(20px);
  width: rem(440px);
  height: rem(617px);
  border-radius: rem(16px);
  background-color: #ffffff;
  z-index: 99;
  box-shadow: 0 2px 16px 2px rgba(105, 105, 105, 0.5);
  .desc {
    font-family: "Noto Sans KR";
    color: #231916;
    h2 {
      margin-top: rem(4px);
      font-size: rem(26px);
      font-weight: bold;
      line-height: rem(38px);
      letter-spacing: rem(-1.2px);
    }
    p {
      margin-top: rem(15px);
      font-size: rem(18px);
      font-weight: bold;
      line-height: rem(30px);
    }
    p > span {
      display: block;
      font-weight: lighter;
      line-height: 1.3;
    }
  }
  .form-group {
    margin: rem(16px) 0 0;
    border: 0;
    background: transparent;
    h5 {
      padding-left: rem(10px);
      font-family: "Noto Sans KR";
      font-size: rem(14px);
      line-height: rem(20px);
      font-weight: bold;
      color: #989898;
    }
    .cal-tooltip {
      position: absolute;
      right: rem(-30px);
      top: rem(-27px);
      width: rem(129px);
      height: rem(32px);
      line-height: rem(32px);
      background: url(../images/main-cal-tooltip-129x32-3x.png) no-repeat left
        center;
      background-size: 100% auto;
      font-family: "Apple SD Gothic Neo";
      font-size: rem(14px);
      color: #ffffff;
      text-align: center;
    }
    .input-group {
      margin-top: rem(10px);
      .input-group-prepend {
        padding: 0 rem(10px) 0 rem(14px);
      }
      .dropdown {
        width: rem(240px);
        .btn.dropdown-toggle {
          text-align: left;
          white-space: initial;
          & > span {
            display: inline-block;
            line-height: rem(20px);
            max-height: rem(40px);
            overflow: hidden;
          }
        }
        &.currency-dropdown {
          width: auto;
          .btn.dropdown-toggle {
            padding: 0 rem(24px) 0 0;
            border-radius: 0;
            border: 0;
            background: transparent
              url(../images/icon-arrow-down-gray-25x25-3x.png) no-repeat right
              5px center;
            background-size: rem(20px) auto;
          }
          .dropdown-menu {
            width: auto;
            min-width: inherit;
          }
          .dropdown-item {
            padding: rem(10px) rem(15px);
          }
        }
      }
      .form-control-plaintext {
        font-family: Lato;
        font-size: rem(24px);
        font-weight: bold;
        color: #161616;
        border: 0;
        border-radius: 0;
        &:focus {
          color: #3b57f1;
          outline: 0;
        }
      }
    }
  }
  .sending {
    position: relative;
    margin: rem(16px) 0 rem(16px) rem(30px);
    padding: rem(10px) 0 rem(16px) 0;
    border-left: 2px dotted #d4d4d4;
    &::before {
      display: block;
      position: absolute;
      left: -17px;
      top: 50%;
      transform: translateY(-50%);
      width: rem(33px);
      height: rem(33px);
      content: "";
      background: url(../images/ico-send-money-33x33-3x.png) no-repeat left
        center;
      background-size: rem(33px) rem(33px);
    }
    .input-group {
      margin: 0;
    }
    img {
      width: 33px;
      height: 33px;
    }
    .dropdown {
      margin-left: 53px;
      & + .dropdown {
        margin-top: 3px;
      }
    }
  }
  .result {
    margin-top: rem(20px);
    padding: rem(20px) 0 0 rem(20px);
    list-style: none;
    border-top: 2px dotted #d4d4d4;
    li {
      margin-bottom: 5px;
      line-height: 24px;
      font-family: "Apple SD Gothic Neo";
      font-size: rem(14px);
      color: #161616;
      & > img {
        width: rem(24px);
        height: rem(24px);
        margin-right: rem(10px);
      }
      & > img.img-coupon {
        width: rem(41px);
        height: rem(33px);
        margin-left: rem(8px);
        margin-right: 0;
      }
    }
  }
}
.currency {
  display: inline-block;
  padding: 0 rem(4px) 0 rem(67px);
  line-height: rem(40px);
  font-family: Lato;
  font-size: rem(18px);
  font-weight: bold;
  color: #161616;
  &.KRW {
    background: url(../images/currency/flag-korea-40x40-3x.png) no-repeat left
      center;
    background-size: rem(40px) auto;
  }
  &.AUD {
    background: url(../images/currency/flag-aud-40x40-3x.png) no-repeat left
      center;
    background-size: rem(40px) auto;
  }
}
.country {
  display: inline-block;
  padding: 0 rem(4px) 0 rem(67px);
  line-height: rem(40px);
  font-family: Lato;
  font-size: rem(18px);
  font-weight: bold;
  color: #161616;
  &.kr {
    background: url(../images/currency/flag-korea-40x40-3x.png) no-repeat left
      center;
    background-size: rem(40px) auto;
  }
  &.aud {
    background: url(../images/currency/flag-aud-40x40-3x.png) no-repeat left
      center;
    background-size: rem(40px) auto;
  }
  &.hungary {
    background: url(../images/currency/flag-hungary-29x29-3x.png) no-repeat left
      center;
    background-size: rem(40px) auto;
  }
}

// Card
.card {
  &-wrap {
    display: flex;
    align-items: center;
    &.column {
      flex-flow: column wrap;
      align-items: stretch;
      .card-item {
        margin: 1.5rem 0 0 0;
        &:first-child {
          margin: 0;
        }
      }
      .card-content {
        flex-flow: row wrap;
        align-items: flex-end;
      }
      .card-title {
        margin-bottom: 0;
        font-family: "NanumSquare";
        font-size: 1.625rem;
        line-height: 2.5rem;
        color: #292929;
      }
      .card-txt {
        margin: 1.875rem 0 0 0;
        font-family: "NanumSquare";
        font-size: 1.125rem;
        line-height: 1.875rem;
        color: #ababab;
      }
    }
    &.business-card {
      .card-item {
        border-radius: 0;
        box-shadow: none;
      }
      .card-content {
        flex-flow: row nowrap;
        align-items: center;
        height: 9.3125rem;
        padding: 0.7375rem 2.425rem 0.7375rem 2.425rem;
      }
      .card-ico {
        background-position: 0 50%;
        background-size: contain;
        &.truefriend {
          width: rem(310px);
        }
        &.koima {
          width: rem(176px);
        }
      }
      .card-img {
        width: auto;
        max-width: 19.375rem;
        height: auto;
        max-height: 7.875rem;
      }
      .card-txt {
        margin: 0 0 0 rem(36px);
        font-size: rem(20px);
        line-height: rem(30px);
        color: #292929;
      }
    }
    &.ci-banner {
      display: block;
      .card-item {
        display: inline-block;
        margin-left: rem(56px);
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        &:first-child {
          margin-left: 0;
        }
      }
      .card-content {
        align-items: center;
        height: 3rem;
        padding: 0;
      }
      .card-img {
        width: inherit;
        height: inherit;
      }
    }
    &.count {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
      counter-reset: number 0;
      .card-item {
        &:before {
          position: absolute;
          top: -1.75rem;
          left: 50%;
          transform: translateX(-50%);
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 9999px;
          line-height: 3.5rem;
          text-align: center;
          color: #ffffff;
          background-color: #1632d2;
          counter-increment: number 1;
          content: "0" counter(number);
        }
      }
      .card-title {
        margin-bottom: 0.6875rem;
        font-family: "S-Core";
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        text-align: center;
      }
      .card-txt {
        font-family: "S-Core";
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: center;
        color: #353535;
      }
    }
    &.bay-tree {
      flex-flow: row nowrap;
      align-items: stretch;
      overflow-x: auto;
      // padding: 4.9375rem 1.5rem 9.0625rem 1.5rem;
      padding: 1.5rem;
      margin: 0 -1.5rem;
      .card-item {
        min-width: 15rem;
        display: flex;
        margin-left: 1rem;
        box-shadow: 0 2px 7px 2px rgba(211, 211, 211, 0.5);
        &:first-child {
          margin-left: 0;
        }
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: rem(64px);
          height: rem(74px);
          background-size: 100%;
          background-repeat: no-repeat;
          content: "";
        }
        &:before {
          left: rem(12px);
          background-image: url(../../images/renewal/img-licence-open@3x.png);
        }
        &:after {
          right: rem(12px);
          background-image: url(../../images/renewal/img-licence-close@3x.png);
        }
      }
      .card-content {
        flex: 1;
        align-items: center;
        padding: 1.875rem 4rem 1.25rem 4rem;
      }
      .card-title {
        display: inline-flex;
        align-items: center;
        min-height: 4.25rem;
        margin-bottom: 0.25rem;
        font-family: "NanumSquare";
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
        color: #00051f;
      }
      .card-txt {
        margin-top: auto;
        font-size: 0.875rem;
        text-align: center;
        line-height: 2.125rem;
        letter-spacing: -0.88px;
      }
    }
  }
  &-item {
    flex: 1;
    position: relative;
    margin-left: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.11);
    background-color: #fff;
    &:first-child {
      margin-left: 0;
    }
  }
  &-content {
    display: flex;
    flex-flow: column wrap;
    padding: 3rem 1.5rem 1rem 1.5rem;
  }
  &-img {
    width: 6.5rem;
    height: 6.5rem;
  }
  &-ico {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
    &.samsung-pay {
      width: rem(100px);
      background-image: url(../images/renewal/logo-samsung-pay@3x.png);
    }
    &.truefriend {
      width: rem(208px);
      background-image: url(../images/renewal/logo-truefriend@3x.png);
    }
    &.ki {
      width: rem(120px);
      background-image: url(../images/renewal/logo-ki@3x.png);
    }
    &.mirae {
      width: rem(192px);
      background-image: url(../images/renewal/logo-mirae@3x.png);
    }
    &.kt {
      width: rem(48px);
      background-image: url(../images/renewal/logo-kt@3x.png);
    }
    &.wu {
      width: rem(208px);
      background-image: url(../images/renewal/logo-wu@3x.png);
    }
    &.uway {
      width: rem(96px);
      background-image: url(../images/renewal/logo-uway@3x.png);
    }
    &.eximbank {
      width: rem(192px);
      background-image: url(../images/renewal/logo-eximbank@3x.png);
    }
    &.iremit {
      width: rem(132px);
      background-image: url(../images/renewal/logo-iremit@3x.png);
    }
    &.nsb {
      width: rem(146px);
      background-image: url(../images/renewal/logo-nsb@3x.png);
    }
    &.koima {
      width: rem(176px);
      background-image: url(../images/renewal/logo-koima.png);
    }
  }
  &-title {
    font-size: 1.25rem;
    color: #1632d2;
    &-wrap {
      display: flex;
      flex-flow: column wrap;
    }
  }
  &-txt {
    font-size: 1rem;
    color: #353535;
  }
}

.main-slide {
  overflow: hidden;
  .row1,
  .row2 {
    position: relative;
    height: 120px;
  }
}

// 20211103 : START
// .main-conts-01 {
//   .container-fluid {
//     opacity: 0;
//     transition: 1s;
//   }
//   &.effect {
//     .container-fluid {
//       -webkit-animation: 1.2s movetop ease-out forwards;
//       animation: 1.2s movetop ease-out forwards;
//       animation-delay: 0.5s;
//     }
//   }
// }
.main-conts-02 {
  opacity: 0;
  background-size: cover;
  background-image: url(../../images/renewal/bg-img@3x.png);
  background-color: #f5f9fc;
  .main-title--sub,
  .main-title,
  .main-title--txt,
  .card-wrap {
    opacity: 0;
  }
  .bay-tree {
    margin-top: 3.5rem;
    margin-bottom: 7.25rem;
  }
  &.effect {
    -webkit-animation: 1.2s movetop ease-out forwards;
    animation: 1.2s movetop ease-out forwards;
    animation-delay: 0.2s;
    .main-title--sub {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
    }
    .main-title {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.4s;
    }
    .main-title--txt {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.6s;
    }
    .card-wrap {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 1.2s;
    }
  }
}
.main-conts-03 {
  background-size: cover;
  background-image: url(../../images/renewal/bg-digit@2x.png);
  background-color: #12134b;
  .container-fluid {
    padding-bottom: rem(104px);
  }
  .main-title--sub,
  .main-title--mid,
  ul > li > span,
  ul > li > strong {
    opacity: 0;
    transition: 1s;
  }
  .main-title {
    &--sub {
      color: #ffffff;
    }
    &--mid {
      color: #ffffff;
    }
  }
  ul {
    > li {
      > span {
        color: #ffffff;
      }
      > strong {
        color: #6effdf;
      }
    }
  }
  ul {
    margin-top: rem(100px);
    list-style: none;
  }
  ul > li {
    padding: 0 rem(100px);
    text-align: center;
  }
  ul > li > span {
    display: block;
    line-height: rem(23px);
    font-size: rem(18px);
    font-weight: bold;
  }
  ul > li > strong {
    display: block;
    margin: rem(14px) 0 0 0;
    line-height: rem(45px);
    font-size: rem(42px);
  }
  ul + ul > li {
    padding: 0 rem(60px);
  }
  &.effect {
    .main-title--sub {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
    }
    .main-title--mid {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.2s;
    }
    ul > li > span {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.8s;
    }
    ul > li > strong {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 1s;
    }
  }
}
.main-conts-04 {
  // padding: rem(43px) 0 0 0;
  .main-title,
  .main-title--txt,
  img,
  .card-wrap,
  .box--gradient {
    opacity: 0;
  }
  &.effect {
    .main-title {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      // animation-delay: 0.5s;
    }
    .main-title--txt {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.2s;
    }
    img {
      -webkit-animation: 0.5s 0.3s bounceScale ease forwards;
      animation: 0.5s 0.3s bounceScale ease forwards;
      animation-delay: 0.2s;
      // animation: bounceScale .7s .5s ease forwards
    }
    .card-wrap {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.6s;
    }
    .box--gradient {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 1.6s;
    }
  }
}
.main-conts-05 {
  // padding: rem(43px) 0 0 0;
  .main-title--sub,
  .main-title,
  // img,
  .card-item {
    opacity: 0;
  }
  &.effect {
    .main-title--sub {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      // animation-delay: 0.5s;
    }
    .main-title {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.2s;
    }
    // img {
    //   -webkit-animation: 1.2s movetop ease-out forwards;
    //   animation: 1.2s movetop ease-out forwards;
    //   animation-delay: .2s;
    // }
    .card-item {
      -webkit-animation: bounceScale 0.7s 0.5s ease forwards;
      animation: bounceScale 0.7s 0.5s ease forwards;
      animation-delay: 0.6s;
    }
  }
}
.main-conts-06 {
  .main-title,
  .main-title--txt,
  .card-wrap {
    opacity: 0;
  }
  &.effect {
    .main-title {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
    }
    .main-title--txt {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.2s;
    }
    .card-wrap {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 0.4s;
    }
  }
}
.main-conts-07 {
  .main-title,
  .info-intro-link,
  .main-slide,
  .footer {
    opacity: 0;
  }
  .main-slide {
    margin-top: rem(80px);
  }
  .ci-banner {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .row1 {
    .ci-banner {
      width: rem(1000px);
    }
  }
  .row2 {
    .ci-banner {
      width: rem(1060px);
      margin-left: rem(1060px);
    }
  }
  .info-intro-link {
    margin: 11.5rem 0 9rem;
  }
  &.effect {
    .main-title {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
    }
    .main-slide {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
    }
    .row1 {
      .ci-banner {
        -webkit-animation: logoSlide infinite 16s linear;
        animation: logoSlide infinite 16s linear;
        &.fake {
          margin-left: rem(1000px);
        }
      }
    }
    .row2 {
      .ci-banner {
        -webkit-animation: logoSlideReverse infinite 16s linear;
        animation: logoSlideReverse infinite 16s linear;
        &.fake {
          margin-left: 0;
        }
      }
    }
    .info-intro-link {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 1s;
    }
    .footer {
      -webkit-animation: 1.2s movetop ease-out forwards;
      animation: 1.2s movetop ease-out forwards;
      animation-delay: 1.6s;
    }
  }
}
// 20211103 : END

@include media-breakpoint-down(lg) {
  .main-visual .swiper-container {
    height: 90vh;
  }
  .exchange-calc {
    left: rem(20px);
    transform: translate(0, -50%);
  }
  .main-conts-01 {
    padding: rem(142px) 0 rem(152px);
  }
  .main-conts-04 .banner-list > li {
    width: 48%;
  }
}
@include media-breakpoint-down(md) {
  .main-conts-04 ul.bbs-list {
    flex-wrap: wrap;
  }
  .main-conts-04 ul.bbs-list > li {
    width: 48%;
    padding-top: rem(50px);
  }
}
@include media-breakpoint-down(sm) {
  .left-nav {
    height: auto;
  }
  .fullpage-wrapper {
    margin-top: rem(60px);
  }
  .fullpage-wrapper .section:not(.main-visual) .container-fluid {
    padding-top: rem(60px);
  }
  .main-visual {
    height: calc(100vh - 3.75rem);
    .swiper-container {
      // top: 50%;
      width: 100%;
      height: 100%;
    }
    div[class*="main-visual-bg"] {
      flex: 1;
      width: 100%;
      height: 100%;
      // max-height: rem(360px);
      max-height: 100%;
      // margin-bottom: 80px;
    }
    div[class*="main-visual-img"] {
      width: 100%;
      max-width: calc(100% - 2.5rem);
      max-height: 60%;
      margin: 0 rem(20px) rem(60px) rem(20px);
    }
    .cont-box {
      flex-direction: column-reverse;
      justify-content: space-between;
      position: relative;
      // width: calc(100% - 1.25rem * 2);
      width: 100%;
      max-width: unset;
      margin: 0;
      // margin: 1.75rem auto 0 auto;
    }
    .caption {
      flex: none;
      width: 100%;
      margin: 0;
      padding: rem(20px);
      h1 {
        width: 2.3125rem;
        height: 0.625rem;
        margin: 0 0 rem(8px) 0;
      }
      strong {
        margin-bottom: 0;
        font-size: rem(20px);
        line-height: rem(30px);
      }
      p {
        font-size: rem(12px);
        line-height: rem(16px);
      }
    }
    .swiper-control-bar {
      bottom: 0;
      width: 100%;
      margin: 0;
    }
    .swiper-pagination-fraction {
      display: none;
    }
  }
  //
  //
  //
  .main-visual .carousel-control-prev-icon,
  .main-visual .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-size: 10px auto;
  }
  .exchange-calc {
    position: relative;
    left: inherit;
    top: rem(20px);
    margin: 0 auto;
    width: 90%;
    transform: translate(0, 0);
  }
  .main-conts-01 {
    padding: 0 0 rem(20px);
    letter-spacing: rem(-1.5px);
  }
  .main-conts-01 h3 {
    font-size: rem(36px);
  }
  .main-conts-01 h4 {
    font-size: rem(20px);
  }
  .main-conts-01 p {
    margin: rem(35px) auto;
    width: 100%;
    font-size: rem(22px);
    line-height: 1.7;
  }

  .main-conts-02 {
    letter-spacing: rem(-1.5px);
    background-image: unset;
  }
  .main-conts-02 .card.float-left p {
    font-size: rem(26px);
    line-height: 1.5;
  }
  .main-conts-02 .card {
    width: 100%;
    height: auto;
  }
  .main-conts-02 .card.float-left {
    padding-bottom: rem(50px);
  }
  .main-conts-02 .card.float-right {
    flex-direction: column !important;
  }
  .main-conts-02 .card.float-right ul {
    width: calc(172px * 30);
    height: auto;
    margin-right: 0;
  }
  .main-conts-02 .card.float-right ul li {
    float: left;
    width: 160px;
    height: auto;
    margin-top: 12px;
    margin-right: 12px;
  }
  .main-conts-02 .card.float-right ul li > span {
    font-size: rem(20px);
  }
  .main-conts-02 .card.float-right ul + ul {
    margin: 0 0 0 rem(-84px);
  }
  .main-conts-02 .card.float-right ul.active {
    animation: horizontalscroll 100s linear infinite;
    -ms-animation: horizontalscroll 100s linear infinite;
  }
  .main-conts-03 {
    padding-top: rem(20px);
    letter-spacing: rem(-1.5px);
  }
  .main-conts-03 p {
    font-size: rem(26px);
    margin: 0 auto;
    width: 73%;
  }
  .main-conts-03 .main-conts-bg {
    width: 100%;
    margin-top: rem(-100px);
  }
  .main-conts-03 ul {
    flex-wrap: wrap;
  }
  .main-conts-03 ul > li {
    padding: 0 rem(20px);
  }
  .main-conts-03 ul + ul {
    margin-top: rem(50px);
  }
  .main-conts-03 ul + ul > li {
    padding: 0 rem(30px);
    margin-bottom: rem(50px);
  }
  .main-conts-03 ul > li > strong {
    font-size: rem(26px);
  }

  .main-conts-04 {
    letter-spacing: rem(-1.5px);
  }
  .main-conts-04 h4 {
    font-size: rem(26px);
    line-height: 1.44;
  }
  .main-conts-04 ul.bbs-list {
    margin-top: rem(36px);
    flex-wrap: wrap;
    letter-spacing: rem(-1.5px);
  }
  .main-conts-04 ul.bbs-list > li {
    width: 100%;
    padding-top: 0;
  }
  .main-conts-04 ul.bbs-list > li + li {
    margin-top: rem(50px);
  }
  .main-conts-04 .banner-list {
    flex-wrap: wrap;
  }
  .main-conts-04 .banner-list > li {
    width: 100%;
  }
  .main-conts-04 .banner-list > li + li {
    margin-top: rem(30px);
  }
  .main-conts-04 .banner-list .banner {
    padding: rem(10px) rem(40px);
  }
  .main-conts-04 .banner-list .banner > p {
    margin-top: rem(30px);
    line-height: 1.4;
    font-size: rem(22px);
  }
  .main-conts-04 .banner-list .banner .btn-lg,
  .main-conts-04 .banner-list .banner .btn-group-lg > .btn {
    position: relative;
    right: inherit;
    bottom: inherit;
    margin-top: rem(30px);
    padding: rem(11px) 0;
    width: rem(146px);
    font-size: rem(16px);
  }
  .main-conts-04 .banner-list .banner .btn-link {
    padding: 0 rem(30px) 0 0;
    line-height: 1.44;
    font-size: rem(20px);
  }
  .main-conts-04 .banner-list .banner.bg-2 p {
    margin-top: rem(70px);
    line-height: 1.5;
    font-size: rem(24px);
  }
  .main-conts-04 .banner-list .banner img.arcode {
    width: rem(100px);
    right: rem(25px);
    bottom: rem(30px);
  }
  // .footer{padding:rem(56px) 0 rem(30px); }
  // .footer>.d-flex{flex-direction: column;}
  // .footer .logo-img{width:200px;}
  .footer .dropdown {
    margin-top: rem(20px);
    width: 100%;
  }
  .footer p {
    line-height: 1.35;
  }
  .footer .nav {
    margin-top: rem(35.4px);
  }

  // 20211027
  // .main-conts-02 {
  //     background-color: #f5f9fc;
  //     .float-right {
  //         flex-direction: column !important;
  //         width: 100%;
  //         height: auto;
  //     }
  //     .card-wrap {
  //         &.bay-tree {
  //                 margin-top: 0.75rem;
  //                 margin-bottom: 1.5rem;
  //             .card-item {
  //                     margin-left: 0.625rem;
  //                 &:first-child {
  //                     margin-left: 0;
  //                 }
  //                 &:before,
  //                 &:after {
  //                     width: 3.125rem;
  //                     height: 4.125rem;
  //                     background-size: cover;
  //                 }
  //             }
  //             .card-content {
  //                 padding: 1.5rem 1rem 1rem 1rem;
  //             }
  //         }
  //     }
  // }
  // .main-conts-03 {
  //     .float-right {
  //         flex-direction: column !important;
  //         width: 100%;
  //         height: auto;
  //     }
  // }
  // .main-conts-04 {
  //     padding: 0;
  //     .float-right {
  //         flex-direction: column !important;
  //         width: 100%;
  //         height: auto;
  //     }
  //     img {
  //         width: 10.125rem;
  //         height: 11.0625rem;
  //         margin: -2.625rem 0 0 10.625rem;
  //     }
  //     .box--gradient {
  //             margin: 2.125rem 0 3.25rem;
  //         ul {
  //             width: 100%;
  //         }
  //     }
  // }
  // .main-conts-05 {
  //     .card-wrap {
  //         margin: 1.5rem 0 3.75rem 0;
  //     }
  //     .card-item {
  //             width: 100%;
  //             margin: 0.75rem 0 0 0;
  //         &:first-child {
  //             margin: 0;
  //         }
  //         &:nth-child(2) {
  //             .card-img {
  //                 height: 3rem;
  //             }
  //         }
  //         &:nth-child(3) {
  //             .card-img {
  //                 height: 3.25rem;
  //             }
  //         }
  //         &:nth-child(4) {
  //             .card-img {
  //                 width: 3.4375rem;
  //                 height: 3.5rem;
  //             }
  //         }
  //         &:nth-child(2n - 1) {
  //             margin: 0.75rem 0 0 0;
  //         }
  //         &:nth-child(2n) {
  //             margin: 0.75rem 0 0 0;
  //         }
  //     }
  //     .card-content {
  //         padding: 1.875rem 0.625rem 2.5rem 0.625rem;
  //     }
  //     .card-img {
  //         width: 3.5rem;
  //         height: 3.5rem;
  //     }
  //     .card-title {
  //         margin: 0.5rem 0 1.5rem;
  //         font-size: 1.1428rem;
  //         line-height: 1.7143rem;
  //     }
  //     .card-txt {
  //         font-size: 0.75rem;
  //         line-height: 1.4286rem;
  //     }
  // }
  // .main-conts-06 {
  //     background-color: #1e4ba3;
  //     .float-right {
  //         flex-direction: column !important;
  //         width: 100%;
  //         height: auto;
  //     }
  //     .main-title {
  //             color: #ffffff;
  //         &--txt {
  //             color: #ffffff;
  //         }
  //     }
  //     .card-wrap {
  //         &.business-card {
  //             margin-top: 3.1428rem;
  //             margin-bottom: 2.5714rem;
  //         }
  //     }
  // }
  // .main-conts-07 {
  //     .float-right {
  //         flex-direction: column !important;
  //         width: 100%;
  //         height: auto;
  //     }
  //     .card-wrap {
  //         &.ci-banner {
  //             .card-item {
  //                 width: 100%;
  //             }
  //         }
  //     }
  //     .info-intro-link {
  //         // margin: 11.5rem 0 9rem;
  //     }
  // }
  // 20211027
}
@keyframes bounceScale {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes logoSlide {
  0% {
    transform: translateX(0) translateY(-50%);
  }
  100% {
    transform: translateX(-100%) translateY(-50%);
  }
}
@keyframes logoSlideReverse {
  0% {
    transform: translateX(-100%) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes marquee {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

/* motion keyframes */
@keyframes verticalscroll {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-8448px);
    -ms-transform: translateY(-8448px);
    -webkit-transform: translateY(-8448px);
    transform: translateY(-8448px);
  }
}
@keyframes horizontalscroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2440px);
  }
}
@keyframes arrowMove {
  0%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes moveshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes movetop {
  0% {
    opacity: 0;
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes moveleft {
  0% {
    opacity: 0;
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
