// Styling for the navbar
.navbar {
  position: absolute; width:100%; padding:0; text-align: center;
  .navbar-header{padding: 3.125rem 0 1rem 0; width:100%;}
  .navbar-brand {padding:0; margin:0; width: 11.25rem; height:1.875rem; background: url(../images/hanpass-logo-181x30-fff.png) no-repeat top center; background-size: 100% auto; text-indent: -99999999px;}
  a[class*='ico-']{display: block; width: 3rem; height: 3rem;}
  .ico-app{opacity: 1;}
  .navbar-nav{
    position: relative; margin-left:1.5rem;
    .nav-item{
      display: flex; flex-grow: 1; align-items: center; justify-content: center;
      .nav-link{padding:0 1.5rem; color:#fff; font-weight: bold;}
      &.active{
        .nav-link{color:#fff;}
      }
    }
  }

}
/*
@include media-breakpoint-up(md) {
  .navbar{
    padding: 0;
    .navbar-header{padding: 0.6875rem 0;}
    .navbar-brand { width: 11.25rem; height: 1.875rem; background: url(../images/hanpass-logo-181x30-fff.png) no-repeat top center;}
    a[class*='ico-']{width: 2.375rem; height: 2.375rem;}
    .ico-app{opacity: 0;}
    .navbar-nav{
      width:100%; margin:0; border-left: $border-width solid #e9ecef; border-right: $border-width solid #e9ecef;
      .nav-item{
        height: 3.438rem;
        .nav-link{font-size: 1rem;}
      }
    }
  }
}
*/