// Styling for the navbar

.navbar {
  // position: fixed; top:0; left:0; padding:0; width:100%; height: auto;  text-align: center; z-index: 100;
  // background: rgba(#000000, 0.05);
  // *{transition: all 0.2s ease-out;}
  // .navbar-toggler{margin:0; padding:0; width:rem(40px); height: rem(40px); border:0; border-radius: 0;}
  .navbar-toggler:hover,
  .navbar-toggler:focus {
    outline: 0;
  }
  .navbar-toggler.collapsed {
    & + #navbar-allmenu {
      &.collapsing {
        top: -100%;
        opacity: 0;
      }
    }
  }
  // .navbar-toggler-icon{
  //   width:100%; height: 100%; background: url(../images/ic-24-popup-40x40-fff-3x.png) no-repeat center center; background-size: 40px 40px;
  // }
  // .navbar-header{padding: rem(45px) 0 rem(25px) 0; width:100%;}
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-brand + .navbar-nav {
    position: relative;
    margin: 0 rem(10px) 0 rem(24px);
    & > ul {
      display: flex;
    }
    & > ul > .nav-item {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      .nav-link {
        padding: rem(7px) rem(24px);
        color: #fff;
        font-weight: bold;
        white-space: nowrap;
      }
      &.active {
        .nav-link {
          color: #fff;
        }
      }
    }
    .nav {
      position: relative;
      margin-left: 1.5rem;
      & > .nav-item {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        .nav-link {
          padding: rem(8px) rem(10px);
          font-family: "Helvetica Neue";
          font-size: rem(14px);
          color: #9e9e9e;
          font-weight: bold;
          letter-spacing: rem(1px);
        }
        &.active {
          .nav-link {
            color: #fff;
          }
        }
      }
    }
  }
}

#navbar-allmenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  height: auto;
  transition: all 1s ease !important;
  &.collapse:not(.show) {
    top: -100%;
    opacity: 0;
  }
  &.collapse.show {
    top: 0;
    opacity: 1;
  }
  &.collapsing {
    top: 0;
    opacity: 1;
    transition: all 1s ease !important;
  }
  .navbar-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $primary;
  }
  .navbar-collapse {
    height: rem(530px);
    .navbar-collapse-header {
      position: relative;
      width: 100%;
      padding: rem(24px) 0 rem(40px);
    }
    .logo-img {
      //height: 28px;
      background: url(../images/allmenu-logo-180x28-fff-3x.png) no-repeat top
        center;
      background-size: 100% auto;
    }
    .nav {
      margin-right: rem(28.5px);
      & > .nav-item {
        color: #ffffff;
        .nav-link {
          padding: 0 rem(11.5px);
          color: #9e9e9e;
        }
        &.active {
          .nav-link {
            color: #ffffff;
          }
        }
      }
    }
    .navbar-toggler-icon {
      background: url(../images/ic-20-appbar-40x40-fff-3x.png) no-repeat center
        center;
      // background-size: 40px 40px;
      width: rem(16px);
      height: rem(16px);
      background-size: rem(16px) rem(16px);
    }
    .navbar-text-wrap {
      width: 100vw;
      text-align: left;
      //margin: 0 rem(-24px); // 디자인은 20
      padding: 0 rem(24px) rem(20px) rem(24px); // 디자인은 20
      margin: 0 rem(-24px) rem(40px) rem(-24px);
      border-bottom: 1px solid rgba(179, 179, 179, 0.2);
      .navbar-text {
        padding: 0;
        font-size: rem(12px);
        font-weight: normal;
        line-height: 1.5;
        color: #fff;
        .navbar-link {
          color: #33dd9b;
          text-decoration: underline;
        }
      }
    }
    .navbar-nav {
      position: relative;
      width: 100%;
      color: #fff;
      ul {
        font-size: rem(18px);
        text-align: left;
        font-weight: bold;
        .nav-item {
          letter-spacing: 2px;
          & + .nav-item {
            margin-top: rem(12px);
          }
          .nav-link {
            color: #fff;
          }
        }
      }
    }
    .navbar-bottom-link-wrap {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100vw;
      .nav-bottom-link {
        flex: 1;
        height: rem(64px);
        padding: 0;
        color: #fff;
        background-color: #0921a2;
        line-height: rem(64px);
        font-size: rem(18px);
        font-weight: bold;
        border-top: 1px solid rgba(179, 179, 179, 0.2);
        & + .nav-bottom-link {
          border-left: 1px solid rgba(179, 179, 179, 0.2);
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
}
@include media-breakpoint-down(lg) {
  .navbar .navbar-brand + .navbar-nav {
    display: none;
  }
  // 수정
  #navbar-allmenu {
    // height: calc(100vh - 154px);
    height: calc(100vh - 120px);
  }
  #navbar-allmenu .navbar-list,
  #navbar-allmenu .navbar-list > .container-fluid {
    height: 100%;
  }
  #navbar-allmenu .navbar-collapse {
    height: 100%;
  }
  #navbar-allmenu .navbar-collapse .navbar-nav {
    // height: calc(100vh - 154px - 93px);
    // 전체 - #navbar-allmenu의 높이 - header의 높이, 텍스트 영역의 높이(마진포함)
    height: calc(100vh - 120px - 90px - 75px - 40px);
    overflow-y: auto;
  }
  .navbar .navbar-header {
    padding: rem(15px) 0;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    background: $white;
    // .navbar-header{padding-top:rem(30px);}
    .logo-img {
      background: url(../images/hanpass-logo-180x30-000-3x.png) no-repeat top
        center;
      background-size: 100% auto;
    }
    .navbar-brand + .navbar-nav ul > .nav-item .nav-link,
    .navbar-brand + .navbar-nav .nav > .nav-item.active .nav-link {
      color: #3b3b3b;
    }
    .navbar-brand + .navbar-nav .nav > .nav-item .nav-link {
      color: #9e9e9e;
    }
    // .navbar-toggler{width:rem(30px); height: rem(30px);}
    // .navbar-toggler-icon{background: url(../images/ic-24-popup-40x40-000-3x.png) no-repeat center center; background-size: 30px 30px;}
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 100;
  * {
    transition: all 0.2s ease-out;
  }
  .container-fluid {
    max-width: 100%;
    margin: 0 rem(72px);
  }
  .logo-img {
    width: rem(202px);
    height: rem(30px);
    background-position: 0 50%;
    background-size: 100%;
    background-image: url(../images/renewal/logo-hanbiz@3x.png);
    background-repeat: no-repeat;
  }
  &-header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: rem(90px);
    // height: 8.75%;
    padding: 0;
  }
  &-toggler {
    flex: none;
    margin-left: auto;
    padding: 0;
    &-icon {
      width: rem(28px);
      height: rem(28px);
      background-position: 50% 50%;
      background-size: contain;
      background-image: url(../images/renewal/ic-24-popup-x-black@3x.png);
      background-repeat: no-repeat;
    }
  }

  &.on {
    visibility: hidden;
    background: $primary;
    .logo-img {
      width: rem(121px);
      height: rem(18px);
    }
    .navbar-header {
      align-items: center;
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    .container-fluid {
      margin: 0;
    }
    &-header {
      align-items: center;
      height: rem(60px);
    }
    &-toggler {
      &-icon {
        width: rem(28px);
        height: rem(28px);
      }
    }

    &.on {
      visibility: visible;
    }
  }
}

#fp-nav {
  position: fixed;
  top: 50%;
  z-index: 99;
  margin-top: unset;
  transform: translate3d(0, -50%, 0);
  ul {
    li {
      width: 100%;
      height: 100%;
      margin: 0 0 rem(20px) 0;
      a {
        position: relative;
        width: 100%;
        height: 100%;
        span {
          position: relative;
          top: unset;
          left: unset;
          width: 100%;
          height: 100%;
          margin: 0;
          font-size: rem(20px);
          font-weight: 700;
          color: #000000;
          border-radius: 0;
          background: transparent;
          opacity: 0.41;
          // transition: all 0.1s ease-in-out;
        }
        &.active {
          margin: 0 0 rem(40px) 0;
          span {
            width: 100%;
            height: 100%;
            margin: 0;
            border-radius: 0;
            font-size: rem(24px);
            text-decoration: underline;
            opacity: 1;
          }
        }
      }
      &:hover {
        a {
          span {
          }
          &.active {
            span {
            }
          }
        }
      }
    }
  }
  &.left {
    left: rem(110px);
  }
  &.white {
    a {
      span {
        color: #ffffff;
        opacity: 0.41;
      }
      &.active {
        span {
          opacity: 1;
        }
      }
    }
  }
}
