.sub-visual{
    position: relative; width:100%; height: rem(254px); overflow: hidden;
    .sub-visual-bg{display: block; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); min-width: 1580px; width:100%; z-index: -1;}
}

.bg-sub{display: block; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); min-width: 1580px; width:100%; z-index: -1;}

.sub-visual{
    nav{background:transparent;}
    .breadcrumb{
        margin:0; padding:30px 20px;
        background:transparent;
    }
    .breadcrumb-item{
        font-size: rem(16px); font-family: "Noto Sans KR"; font-weight: bold; line-height: rem(36px);
        &>a{color:#fff;}
        &.active{font-size: rem(24px); font-family: "Noto Sans KR"; font-weight: bold; color:#fff;}
        & + .breadcrumb-item{
            padding-left:0;
            &>span{display: inline-block;}
            &::before{content: '>'; padding:0 rem(10px) 0 rem(4px); font-size: rem(16px); color:#fff; vertical-align: 2px;}
        }
    }
}
.sub-cont-about-01{
    p{
        padding:rem(75px) 0 rem(64px); text-align: center; line-height: 1.44;
        font-size: rem(20px); font-family: "Noto Sans KR"; font-weight: 500; color:#666666;
    }
}
.sub-cont-about-02{
    padding:rem(94px) 0 rem(86px); text-align: center;
    h3{font-family: "Apple SD Gothic Neo"; font-size: rem(36px); color: #ffffff; font-weight: 600;}
    ul{
        margin-top:rem(58px);
        &>li{
            @include center-middle;
            position: relative; width:rem(292px); height: rem(226px); line-height: 1.44; background:rgba(#476eff, 0.65); border-radius: 54px;
            font-size: rem(22px); font-family: "Noto Sans KR"; font-weight: 500; color:#ffffff;
            &::before, &::after{display: block; width:64px; height: 74px; content: ''; background:url(../images/bg-licence-open-64x74-3x.png) no-repeat center center; background-size: 100% auto;}
            &::after{transform: scaleX(-1);}
        }
    }
}

.sub-cont-about-03{
    padding:rem(43px) 0 0;
    .tab-content > .active{display: flex; flex-direction: column; justify-content: center;}
    .info-box{
        li{
            font-family: "Apple SD Gothic Neo"; color: #000000; font-size: rem(16px);
            &>strong{display: inline-block; width:167px; font-size: rem(20px);}
            & + li{margin-top:16px;}
        }
    }
    .history-box{
        padding:rem(87px) 0 0; font-family: "Noto Sans KR";
        &>li .year{padding-top:rem(24px); width:rem(195px); font-size: rem(50px); font-weight: 900; color:#46484b;}
        // &>li + li{padding-top:30px;}
        &>li + li .history-list::before{
            display: block; position: absolute; left:rem(-10px); top:rem(40px); width:rem(20px); height: rem(20px); content: '';
            background: #3b57f1; border-radius: 50%;
        }
        .history-list{
            position: relative; padding:rem(36px) 0 0 rem(47px); border-left:2px dashed #deefff;
            &::before{
                display: block; position: absolute; left:rem(-20px); top:rem(29px); width:rem(40px); height: rem(40px); content: '';
                background:url(../images/img-year-dot-here-40x40-3x.png) no-repeat center center; background-size:rem(40px) rem(40px); 
                border-radius: 0;
            }
            &>li{
                display: flex; line-height: rem(27px);
                &>span{width:112px; font-size: rem(14px); font-weight: bold; color:#ababab;}
                &>p{font-size: rem(18px); font-weight: bold; color:#18191a;}
                & + li{margin-top:20px;}
            }
        }
    }
    h4{
        width:300px; line-height: 1.5;
        font-size: rem(34px); font-family: "Noto Sans KR"; font-weight: bold; color:#18191a;
        &>img{display: block; margin-bottom:rem(30px);}
    }
    .contact-box{
        margin:rem(70px) 0 rem(90px);
        dl{
            font-family: "Noto Sans KR";  text-align: center; line-height: 1.5;
            & + dl{margin-left:rem(100px);}
            dt{font-weight: 500; color:#ababab;}
            dd{margin-top:rem(10px); font-size: rem(20px);font-weight: bold; color:#18191a;}
        }
        
    }
    .btn-map-view{
        padding:0; width:rem(400px); height: rem(100px);  border-radius: 50px; 
        font-size: rem(20px); font-weight: bold; 
        &>span{padding-right:43px; line-height: rem(100px); background: url(../images/ico-map-28x27-d8d8d8-x3.png) no-repeat right center; background-size: rem(28px) auto;}
    }
    .btn-map-view:hover{
        color:#d8d8d8; background:#141414;
        &>span{background: url(../images/ico-map-28x27-d8d8d8-x3.png) no-repeat right center; background-size: rem(28px) auto;}
    }
}

.sub-cont-business-01{
    padding:rem(70px) 0; text-align: center; font-family: "Noto Sans KR";
    h3{margin-bottom:rem(56px); line-height: rem(59px); font-size: rem(40px); font-weight: 500; color:#18191a;}
    p{margin-top:rem(56px); line-height: 1.4; font-size: rem(20px); font-weight: 500; color:#666666;}
}
.sub-cont-business-02{
    padding:rem(94px) 0 rem(99px); text-align: center; font-family: "Noto Sans KR"; background:#476eff;
    h3{margin-bottom:rem(56px); line-height: rem(43px); font-size: rem(36px); font-weight: 600; color:#ffffff;}
    ul{
        & + ul{
            margin-top:rem(40px);
            li{height: rem(140px);}
        }
        li{
             position: relative; width:rem(200px); height: rem(130px); text-align: center; color:#fff;
            & + li{margin-left:rem(120px);}
            img{display: inline-block;}
            p{position: absolute;left:0; bottom:0; width:100%; font-size: rem(20px); font-weight: 500; line-height: 1.4;}
        }
    }
}
.sub-cont-business-03{
    padding:rem(97px) 0; font-family: "Noto Sans KR";
    ul{
        li{
            display: flex; align-items: center; height: rem(412px);
            & + li{margin-top:rem(120px);}
            .text{
                float: left; padding-right:72px; 
                h3{font-size: rem(28px); font-weight: bold; color:#476eff;}
                p{margin-top:30px; line-height: 1.44; font-size: rem(21px); font-weight: lighter; color:#18191a;}
            }
            img + .text{padding-left:37px; padding-right:0;}
        }
    }
}
.sub-cont-business-04{
    padding:rem(120px) 0 rem(100px); text-align: center;
    h3{font-size: rem(36px);  font-family: "Apple SD Gothic Neo"; font-weight: bold; color:#18191a;}
    ul{
        margin:rem(60px) auto; width:rem(1100px);
        li{
          padding:rem(30px) rem(50px); font-size: rem(28px);  font-family: "Noto Sans KR"; font-weight: 500; color:#666666;
        }
    }
}

.sub-conts-cs{
    padding:rem(92px) 0 0 0;
    h2{font-size: rem(36px);  font-family: "Noto Sans KR"; font-weight: 500; color:#18191a;}
    .cont-wrap{
        margin-top:47px;
        .left-box{
            width:512px;
            .input-group{
                height: 82px; border:4px solid #262626; border-radius: 8px;
                .select{
                    width:130px; height: 100%;
                    select{
                        display: flex; align-items: center;
                        width:100%; height: 100%; padding-left:32px;
                        font-size: rem(24px);  font-family: "Noto Sans KR"; font-weight: bold; color:#18191a;
                        border:0; 
                        background:url(../images/icon-arrow-r-n-25x15-3x.png) no-repeat right center; background-size: 25px auto;
                        -webkit-appearance: none; -moz-appearance: none; text-indent: 1px; text-overflow: '';
                    }
                }
                .form-control{height: 100%; border:0; background:transparent;}
            }
            h4{margin-top:107px; line-height: 1.44; font-size: rem(20px); font-family: "Noto Sans KR"; font-weight: 500; color:#262626;}
            h4 + .btn.btn-lg{
                margin-top:30px;
            }
            .btn-lg{
                margin-top:30px; padding:0; width:278px; height: 79px; line-height: 79px; border-radius: 50px;
                font-size: rem(20px); font-family: "Noto Sans KR"; font-weight: 500; color:#262626;
                &>span{
                    padding-right:22px; background: url(../images/icon-arrow-11x18-000-3x.png) no-repeat right center; background-size: 11px auto;
                }
            }
            .btn-outline-light{
                &:focus, &:active, &:hover{
                    &>span{background: url(../images/icon-arrow-11x18-fff-3x.png) no-repeat right center; background-size: 11px auto;}
                } 
            }

        }
        .right-box{
            position: relative;  margin-left:36px; width:calc(100% - 512px);
            .faq-list{
                .card-header{
                    padding:rem(40px) 0; margin:0; cursor: pointer;
                    h3{
                        padding-left:25px; font-size: rem(22px);  font-family: "Noto Sans KR"; font-weight: bold; color:#262626;
                        &>span{font-size: rem(24px);}
                    }
                }
                .card-body{
                    padding:rem(40px) 0 rem(40px) 0; border-bottom:1px solid #cccccc;
                    font-family: "Noto Sans KR"; color:#262626;
                    &>span{padding:0 rem(19px) 0 rem(28px); font-size: rem(24px);font-weight: bold; }
                    &>p{font-size: rem(20px);font-weight: 500; }
                }
            }
            
        }
    }
}
.sub-cont-inquiry{
    padding:rem(92px) 0 0 0;
    h2{font-size: rem(36px);  font-family: "Noto Sans KR"; font-weight: 500; color:#18191a;}
    h2 + .desc{margin-top:30px; font-size: rem(20px);  font-family: "Noto Sans KR"; font-weight: 500; color:#18191a; }
    .cont-wrap{
        margin-top:rem(93px);
        .left-box{
            width:calc(100% - 713px);
            .contact-box{
                dl{
                    font-family: "Noto Sans KR"; line-height: 1.44;
                    & + dl{margin-top:40px;}
                    dt{font-weight: 500; color:#ababab;}
                    dd{margin-top:10px; font-size: rem(18px); color:#262626;}
                }
            }
        }
        .right-box{
            width:713px;
            .btns-box{
                .btn-lg{
                    width:350px; height: 100px; border-radius: 13px; padding:0;
                }
            }
        }
    }
}

.sub-cont-term{
    padding:rem(92px) 0 0 0;
    h2{font-size: rem(36px);  font-family: "Noto Sans KR"; font-weight: 500; color:#18191a;}
    .tabs-type3{
        margin-top:88px;
        .tab-content{
            margin-top:40px;
        }
    }
    .agreement-wrap{
        font-family: "Noto Sans KR"; color:#262626; height: 500px;
        h2{margin-bottom:88px; font-size: rem(30px);  font-weight: bold;}
        p {padding-left:47px; font-size: rem(18px);line-height: 1.44;padding-bottom: 50px;}
        strong{font-size: rem(18px);  font-weight: bold;}
    }
}