// Variables

// cop
$primary: #1e4ba3;

// Override Bootstrap primary and secondary colors
// $primary: #476eff !default;
$secondary: #141414 !default;
$dark: #141414 !default;
$light: #989898 !default;

// Override Bootstrap font variables
$font-family-sans-serif: "NanumSquare", "S-Core", "Lato" !default;
$sub-font-family: "NanumSquare", "S-Core", "Lato" !default;
$body-bg: #fff;
$body-color: #222;
$line-height-base: 1;
// $font-size-base: 1.063rem !default;
$nav-height: 168px;
$nav-status-height: 85px;
$lnb-height: 110px;
$footer-height: 96px;

$nav-height-md: 116px;
$lnb-height-md: 110px;
$footer-height-md: 96px;

// Override Bootstrap border variables
$border-width: 0.0625rem !default;
$border-radius: 0.3125rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.3125rem !default;
$border-radius-lx: 0.375rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;

// Restate the spacer variable for overriding grid gutter width
$spacer: 1rem !default;

// Override the spacing between columns to add symmetry to the layout
$grid-gutter-width: $spacer * 3 !default;

$input-placeholder-color: #bbb;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1580px,
);

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
